[2018-03-24 12:01] benedmunds commented on #1195
Ha yea it’s super annoying when that happens.

Yea I’m aware of the truncation, I’m on the side of its best to let bcrypt truncate and not screw with the password cause that does add additional risks.

[2018-03-24 17:02] Indigo744 commented on #1195
I'm with you on this. And if people don't want bcrypt to truncate their passwords, they should use argon2, which doesn't have any limitations.

However, should we say something about it in the doc?

[2018-03-25 00:45] benedmunds commented on #1195
I’m not against saying something but also don’t think it’s neccesary, common practice (at the moment at least) is that it’s plenty secure even with the truncation.

[2018-03-26 15:50] Indigo744 commented on #1195
I think we can see the end 😄  what do you think?

We should now try it out as much as possible.

[2018-03-26 19:19] Indigo744 commented on #1195
Should we consider namespaces?

I know that CI4 will use them extensively. Maybe we can try to prepare for the future?
Actually, I'm not even sure it would work with how CI3 is designed.
This is just a thought.

[2018-03-26 19:20] benedmunds commented on #1195
I think we can skip them for v3.  We should go ahead and start working on a v4 version once this clears some testing though.  That's coming soon.

[2018-03-26 19:21] Indigo744 commented on #1195
Alright. Should I open a new issue to call for some help and testing from users?

[2018-03-26 19:23] benedmunds commented on #1195
Yea go for it :D  I'll tweet it out and hopefully get some people involved

[2018-03-26 19:38] Indigo744 opened #1220 "Ion Auth 3: help needed for testing"
Dear all,

I've worked with @benedmunds  to bring you **Ion Auth 3** (available in [the new `3` branch ](https://github.com/benedmunds/CodeIgniter-Ion-Auth/tree/3)), which brings the latest security improvements from PHP.

The complete [changelog](https://github.com/benedmunds/CodeIgniter-Ion-Auth/blob/3/CHANGELOG.md) is as follow:

Before publishing, we need of course to test it. While we have do

[2018-03-26 19:39] Indigo744 commented on #1195
See #1220

[2018-03-26 19:43] benedmunds commented on #1220
@avenirer @lloricode can you review this as well please

[2018-03-27 12:18] lloricode commented on #1220
hmm @benedmunds can we create a unit test with this?

[2018-03-27 12:22] Indigo744 commented on #1220
That would be a really great improvements! But I fear I would not have the time right now 😞 if anyone would like to take it from here and implements Unit testing, that would surely be great.

By the way, I've heard CI4 will come with a full-fledged Unit Testing library. Will it be possible to use it for library?

[2018-03-27 12:26] lloricode commented on #1220
@Indigo744 , the problem is, we need to reseach how to properly add some unit test for CI libraries,
we need a test project structure of CI, to run the test,

then a CI4? but still now ready for production, so we cant assure

[2018-03-27 12:29] lloricode commented on #1220
i think this would help
https://github.com/kenjis/ci-phpunit-test

[2018-03-27 12:30] lloricode commented on #1220
i try to implement this, but we need to add some file of repo, then give instruction what will be need to copy to their projects

[2018-03-27 12:31] Indigo744 commented on #1220
That looks good indeed. I'm in favor of putting everything in a `test` sub-directory so user will know they can ignore this directory for production.

[2018-03-27 12:32] lloricode commented on #1220
@Indigo744  then we need to add travis CI Integration for every pull request of this repo,
@avenirer @benedmunds what do you think?

[2018-03-27 12:33] lloricode commented on #1220
https://travis-ci.org/

[2018-03-27 12:33] Indigo744 commented on #1220
When the UT will be up and running, we will be able to add CI easily. But that's not the hardest part IMO 😅 ...

[2018-03-27 12:38] benedmunds commented on #1220
@lloricode go for it if you can!

I'm not sure how that'll go with this CI3 version but we can definitely do it for the CI4 version, would be great if you get it working well with CI3 though!

[2018-03-27 12:38] benedmunds commented on #1220
and I'd recommend a /test directory as well

[2018-03-27 12:39] lloricode commented on #1220
:) hmm, it will takes time for this, then almost a year when last I using codeigniter :D but im willing to do reaserch on how it will work :)

[2018-03-27 12:40] lloricode commented on #1220
@benedmunds yes, it mandatory :)

[2018-03-27 12:49] lloricode commented on #1220
@benedmunds  branch `3` is need to test? so we can create a branch pull form branch 3?

[2018-03-27 12:51] benedmunds commented on #1220
@lloricode yea you can submit PRs against the 3 branch

[2018-03-27 12:53] lloricode commented on #1220
@benedmunds thanks :)

[2018-03-28 13:00] ghost commented on #1191
Keep the $config['recheck_timer'] of ion auth less than codeigniter's $config['sess_time_to_update'] value.

[2018-03-28 19:34] spitfire64 commented on #1191
I have $config['sess_time_to_update'] set to 300 and $config['recheck_timer'] set to 0. Changing $config['recheck_timer'] to 150 didn't help.

[2018-03-29 02:29] merakinoya opened #1224 "Users table join Profile User Table, wtih one to one relation"
hi ben, how do i combine 2 tables of one to one relation, like between user profile table with user table on ion_auth based on id ?
so if the user login then the profile table will appear in accordance with the user id?

[2018-03-29 03:02] benedmunds commented on #1224
Are you using Ion Auth v1? v2 and v3 don't have a separate profiles table.

[2018-03-30 10:28] merakinoya commented on #1224
I using IonAuth v2

[2018-03-30 16:46] benedmunds commented on #1224
and you have a profile table?  Can you post your schema?

[2018-04-02 01:57] dlzi opened #1225 "Is it possible to create sub-groups?"
I'm wondering if it's possible to great users sub-groups or anything similar.

I found this answer [https://stackoverflow.com/questions/14953219/how-to-create-sub-groups-in-ion-auth-codeigniter](https://stackoverflow.com/questions/14953219/how-to-create-sub-groups-in-ion-auth-codeigniter) but I don't think it would apply for my case. I still think that I need to have separete accounts, but under o

[2018-04-02 13:30] benedmunds commented on #1225
Sounds like you might want full ACL.  There's a user made package for that here: https://github.com/weblogics/Codeigniter-Ion-Auth-ACL

Fair warning though, I've never used this package.

[2018-04-02 13:30] #1225 closed, assigned to nobody

[2018-04-05 04:55] simmonspaul commented on #1189
I noticed that this question has been asked a couple of times and each time it is closed due to potential security concerns - understandable.

I'm loving Ion-Auth and also in the past happened upon Avenirer's tutorials which are also helpful.

I decided to use HybridAuth for social media logins as it is very comprehensive. On a successful callback from a social media login I want to have the user

[2018-04-05 13:23] spitfire64 commented on #1191
Calling $this->ion_auth->logout() twice "solves" the problem.

[2018-04-07 23:29] simmonspaul commented on #1180
I see the call from Auth.php...
		$user = $this->ion_auth->forgotten_password_check($code);
but not the actual function in ion_auth_model ? ie. public function forgotten_password_check($code)

Am I following correctly?

[2018-04-07 23:34] simmonspaul commented on #1180
sorry found it, right where it was supposed to be in Ion_auth. thanks.

[2018-04-11 17:57] DungBuiDeveloper opened #1229 "how to user ion auth with jwt"
sr i know wrong here , but i need author rep my question :D

[2018-04-11 18:01] benedmunds commented on #1229
Jwt isn’t supported by the library, you’d have to code your own jwt implementation on top.

[2018-04-11 18:01] #1229 closed, assigned to nobody

[2018-04-12 07:10] ghost opened #1230 "Unused properties"
I noticed that Ion Auth library and model have a few declared properties that aren't used anywhere in the code. Like:

    protected $status;
    public $_extra_set = [];
    public $new_password;

Is there are reason for that or is it just my weak OOP understanding?

[2018-04-12 13:09] benedmunds commented on #1230
Good catch, I don’t believe these are used anymore either.  Want to make a PR removing them?

[2018-04-12 14:36] dlzi commented on #1230
I cannot promise anything soon, but I'll try. Thank you.

[2018-04-14 18:11] lloricode commented on #1220
hi! i just starting the test structure, so maybe later can implement a unit and feature test

ive just temporary made the test here,
https://github.com/lloricode/codeigiter-ion-auth-unit-test
 because so many changes, but same code on ion auth branch 3,

my plan is, in every automated test, it first pull then latest code from this ion auth branch 3

[2018-04-14 18:13] benedmunds commented on #1220
I’m cool with merging the units tests directly to core once they’re ready, if that works for you. So I wouldn’t spend any time trying to automate pulling the latest code.

[2018-04-14 18:16] lloricode commented on #1220
yes after done this, i will made the PR, if you satisfy also the test implementing

[2018-04-14 18:16] benedmunds commented on #1220
Ok awesome, thanks!

[2018-04-14 18:16] lloricode commented on #1220
Most welcome @benedmunds

[2018-04-23 10:43] cdmathukiya opened #1231 "Message: Authentication failed! Google returned an error: access_denied in hybridauth"
when i am trying to login in google and i am giving permission then it's login and working fine.

![](https://i.stack.imgur.com/E37Lj.png)

But, i am click on cancel button on permission popup it will give error like

![](https://i.stack.imgur.com/zbE8V.png)

[2018-04-23 21:44] romandahidayat opened #1232 "Ion Auth session with Redis"
Hello ben,  iwant to little ask how to integrated ion auth session to redis im using predis library..
thanks..little comment cant be help..

[2018-04-25 00:47] placecodex commented on #791
download the php version, ami I worked down from 7.1 to 7.0

[2018-05-01 05:39] geoffcording opened #1233 "Login failing"
There is every likelihood the problem is mine but I cannot see why. First, I am new to php although I have a lot of other IT experience.  The problem is that I cannot login.  Here is the code fragment:

log_message('debug', 'Login details:' . $this->input->post('username') . '/' . $this->input->post('password') . '/' . $remember);
            if ($this->ion_auth->login($this->input->post('username

[2018-05-01 08:34] bedrijfsportaal opened #1234 "Windows local machine directory separator"
Goodmorning,

I'm using ion_auth for the very first time, must say it's awesome with enough features buildin. The only issue i'm currently facing is the directory separator, it's not responding to / but only on \\.

Can easly fix this by adding `DIRECTORY_SEPARATOR` instead of hard-coded, don't know if it's overrided when updated so i can start all over again?

**CodeIgniter Ion Auth default**
`$t

[2018-05-01 10:39] geoffcording commented on #1233
OK it was me not understanding ion_auth! Here is the solution:
I chose username as the identity rather then the default email address. A convention from my old days.
I did not appreciate that the password would be encoded/encrypted hence when I stored my password via phpadmin, it was in clear (duh!)
I added my new id via phpadmin because I did not yet have a create user form.
When testing my new i

[2018-05-01 10:39] #1233 closed, assigned to nobody

[2018-05-01 12:57] benedmunds commented on #1234
Are you on Windows?

[2018-05-01 13:18] bedrijfsportaal commented on #1234
Correct, working on my local machine with MAMP PRO before pushing this to a web-server.

[2018-05-01 13:22] benedmunds commented on #1234
Ah that makes sense.  Would you be interested in submitting a PR for these changes?

[2018-05-01 13:26] bedrijfsportaal commented on #1234
Shure no problem at all, will do this in a few seconds!

[2018-05-01 13:37] #1234 closed, assigned to nobody

[2018-05-11 08:24] romandahidayat opened #1239 "Change Activation Link Redirect in ion Auth ?"
hello ben, i ask something about how to change redirected URL activation on email in ion auth library ?

[2018-05-11 13:20] benedmunds commented on #1239
Feel free to change the controllers/views/emails to suite your needs.  For the most part, they've just examples of how to use the library.

[2018-05-11 13:20] #1239 closed, assigned to nobody

[2018-05-13 05:32] nrshoukhin commented on #800
May be you are checking the log in before loading the parent constructor from in your controller.

[2018-05-14 17:49] hugomiura opened #1240 "Login with Google"
Does anyone has a login with Google example with Ion Auh?

[2018-05-14 17:53] benedmunds commented on #1240
I don't off hand.  Looks like HybridAuth works with Google: https://hybridauth.github.io/providers.html

You can use the (not officially supported) social branch of Ion Auth to get started with HybridAuth integration: https://github.com/benedmunds/CodeIgniter-Ion-Auth/tree/social

[2018-05-14 17:53] #1240 closed, assigned to nobody

[2018-05-15 08:01] hafiz123 opened #1241 "Login with Parameters"
Hi Ben and Team,

I'm not sure whether here's the right place to post this, but since I've searched and googled around and still haven't found a solution for my problem, I just post my here.

Going to my issue, I want the login page to redirect to a specific page after login successful, in which the login will carry an ID(parameter). For example, the login url will be like www.test.com/auth/login/

[2018-05-15 12:41] benedmunds commented on #1241
This isn't built in but you can modify the controller to suite your needs here.

Try to add this logic to the controller and if you get stuck post code examples from what you tried and the resulting errors.

[2018-05-16 03:10] merakinoya opened #1242 "Pagination data users_groups ?"
Dear, Ben
I want to display data between tables users with tabels groups with pagination underneath how to do?
I implement it with tables of users as "lowongan" and tables groups as "industri" ?

the code model like this

`public function fetch_jobs($limit, $start)
		{
			$this->db->limit($limit, $start);
			$this->db->select('l.*');
			$this->db->select('i.*');
			$this->db->from('lowongan_indust

[2018-05-16 04:24] benedmunds commented on #1242
Ion Auth has limit and offset methods so you can use something like this:

    $this->ion_auth->limit(100)->offset(100)->users();

[2018-05-16 06:32] hafiz123 commented on #1241
Hi Ben,
I've tried to add as per your advice.
It is still not redirecting to the correct page after successful login.
The url to login is www.tet.com/auth/login/3. Once I logged in successfully, it is redirected to the base_url
Though, no errors resulted. Below is the login() method inside Auth controller which I amended:

[code]

[2018-05-16 07:22] merakinoya commented on #1242
It just for users tables ? How if to users tables and groups tables ?

Like this what you mean?

`$this->data['users'] = $this->job_industry->limit(100)->offset(100)->users()->result();
foreach ($this->data['users'] as $k => $user)
{
$this->data['users'][$k]->groups = $this->job_industry->get_users_groups($user->id)->result();
}`

[2018-05-16 13:41] benedmunds commented on #1242
Yes something similar to that should work, assuming job_industry is what you have the ion_auth library loaded as.

Limit and Offset work for group listing as well:
    `$this->ion_auth->limit(100)->offset(100)->groups()->result()`

[2018-05-16 13:47] benedmunds commented on #1241
You're storing the $id as either TRUE when not set (from method param default) but then trying to redirect using it if its true.

Try these changes:

For the method param:
`public function login($id = null)`

and for the redirect:

[code]

[2018-05-17 02:32] hafiz123 commented on #1241
Hi Ben,

I've tried as your idea, but still it doesn't work

Thus, I try to add ``` if{} else{}  ```` in the redirect part, its working fine but then it return the error which saying my arguments is missing. Below is the code I just tested

[code]

[2018-05-17 02:41] benedmunds commented on #1241
Your ifs and else’s are backwards. You want to call the url with the ID if the ID is set

[2018-05-17 02:47] hafiz123 commented on #1241
Sorry I was about to edit the above post. And its still redirect to base_url even with the correct ifs else's.

I've tried with isset(), empty(), is_null() and all these seems prevent to redirect to the URL with the ID.

Is there any part I need to amend in the Ion_auth library file?

[2018-05-17 02:54] benedmunds commented on #1241
Go ahead and post your current code and I’ll take a look

[2018-05-17 03:47] hafiz123 commented on #1241
Hi Ben,
i'm not sure what to add in the library files but I think the issues is with the login method param. Its like cannot detect the ID whether its null or not. I've even try to change the param from null to like != '', and its still does not recognized the ID.
Do you have any other solution for this?

[2018-05-17 13:11] benedmunds commented on #1241
Did you repost the code? I'm still seeing the if/elses being swapped on the redirect for successful login.

[2018-05-17 14:37] hafiz123 commented on #1241
Yeap. I swapped it. But still the redirect doesn't work though

[2018-05-17 14:42] hafiz123 commented on #1241
I mean I've corrected the ifs else's position to redirect to the correct page if ID is set. But still, it redirected to base_url. Even witH the ID param in the login method

[2018-05-17 14:55] benedmunds commented on #1241
Repost the code again please, so we can make sure we're on the same page.

Also whats the login url you're using?  You need to make sure both the GET and POST urls are using the ID.

[2018-05-17 15:44] mhamzas commented on #1189
@simmonspaul Thanks. It worked.

[2018-05-18 00:59] hafiz123 commented on #1241
Hi Ben,

Repost the code as below.

The login URL i used is:
With ID--> http://localhost/testfiz/auth/login/ID
Without ID --> http:/localhost/testfiz/auth/login

The project is been done in my localhost server.

[code]

[2018-05-18 01:12] hafiz123 commented on #1241
Hi Ben,

You're right about the POST and GET urls.

I amend the POST url in the login views, plus the code that you suggest, and it work like charms.

I detect the ID for POST url using CI URI Segment, as below:

[code]

[2018-05-18 03:23] benedmunds commented on #1241
Glad it’s working! Take care!

[2018-05-18 03:23] #1241 closed, assigned to nobody

[2018-05-21 16:05] merakinoya opened #1245 "Activation email failed !"
Dear ben,

i have problem to send email activation for a new user when Project to hosting

`A PHP Error was encountered
Severity: Warning

Message: mail() has been disabled for security reasons

Filename: libraries/Email.php

Line Number: 1894

Backtrace:

File: /home/cirw4317/public_html/test/application/libraries/Ion_auth.php
Line: 377
Function: send

File: /home/cirw4317/public_html/test/applic

[2018-05-21 17:49] benedmunds commented on #1245
Looks like your server doesnt support mail.  That's not an Ion Auth issue, it's a CI config / server config issue.  I'd recommend using a third party email service (like sendgrid or a similar service).

[2018-05-21 17:49] #1245 closed, assigned to nobody

[2018-05-25 12:52] merakinoya commented on #1242
Oh ok thankyou mas Ben, solved from [https://github.com/benedmunds/CodeIgniter-Ion-Auth/issues/347](url)

[2018-05-27 07:34] merakinoya commented on #1242
Dear ben, i'm sorry ask again,

How to get user data from goup member ?
if i have SQL like this ?
`SELECT g.group_name, GROUP_CONCAT(u.fullname)
FROM group g
JOIN user_group ug ON g.id = ug.id
JOIN user u ON ug.user_id = u.id
WHERE g.id`

[2018-05-27 14:58] benedmunds commented on #1242
You want to retrieve it via SQL or via the Ion Auth lib?

[2018-05-27 15:32] merakinoya commented on #1242
retrive via ion auth library. so when I select a member group it appears a list of user data that has a member group, i was try like this
`public function get_catagories_users($id=FALSE)
{
	$this->trigger_events('get_users_catagory');
	//$id || $id = $this->session->userdata('lowongan_id');
	return $this->db->select($this->tables['katagori']. '.name,' .$this->tables['katagori']. '.description,'.$t

[2018-05-27 16:09] benedmunds commented on #1242
You can get the users groups with:

    $this->ion_auth->get_users_groups($user_id)

[2018-05-29 09:36] merakinoya commented on #1242
the script try in controller ?
what is $user_id ? how to get it ?

[2018-05-29 13:53] enlivenapp commented on #1242
$this->ion_auth->get_user_id();

[2018-05-29 22:05] merakinoya commented on #1242
Your mean is
`$id = (int) $id;`
`$user_id = $this->ion_auth->user($id);`
`$this->data['group'] = $this->ion_auth->get_users_groups($user_id);`
?

[2018-05-30 12:15] enlivenapp commented on #1242
OK,  I'll just do this all at once.  There's a couple ways to get info on an user.

So, for a logged in user:

    if ($this->ion_auth->logged_in())
    {
      // the user is logged in
      $user_id = $this->ion_auth->get_user_id();
      $this->data['group'] = $this->ion_auth->get_users_groups($user_id);

        // or if you're interested in a one-liner of hard to read:
       $this->data['gro

[2018-06-01 15:45] bvrignaud commented on #1220
Hi,

I'm trying the new Ion Auth 3 and everything looks like OK. Good Job.

When do you thinks we can start a CI 4 branch ?

[2018-06-10 17:26] adrianrz commented on #1224
Hi Ben,
I follow this thread so as not to open another one.
I have a profile table
CREATE TABLE `users_profile` (
  `id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `company_com` varchar(100) DEFAULT NULL,
  `direcccion` varchar(100) DEFAULT NULL,
  `ciudad_id` int(5) NOT NULL,
  `movil` varchar(12) NOT NULL,
  `cif_nif` varchar(9) NOT NULL,
  `es_empresa` tinyint(1) NOT NULL DEFAULT '0',

[2018-06-10 20:28] benedmunds commented on #1224
That looks correct, can you verify that your hook is being called?

[2018-06-11 00:48] adrianrz commented on #1224
Yes I verify and it is being called

[2018-06-11 10:23] anand1100 opened #1246 "How to send activation mail after sign up in ion auth."
$config['email_activation']           = TRUE;

$config['email_config'] = array(
    'mailtype' => 'html',
    'protocol' => 'smtp',
    'smtp_host' => 'just49.justhost.com',
    'smtp_user' => 'anand@xxxxx.com', // actual values different
    'smtp_pass' => 'xxxxxxx',
    'smtp_port' => '26'
);

here how i setup my config but not getting any mail. please help me to fix this

[2018-06-11 13:02] benedmunds commented on #1246
Hey @anand1100

Make sure use_ci_email is set to true in your Ion Auth config as well.

If that doesn't fix it this likely isn't an Ion Auth issue at all. It's probably related to your email config. I'd recommend doing some research on StackOverflow and troubleshooting.

You can try starting with these:

http://stackoverflow.com/questions/1555145/sending-email-with-gmail-smtp-with-codeigniter-emai

[2018-06-11 13:15] benedmunds commented on #1224
Hmm this really does seem fine.  Can you dump the resulting SQL from the ion auth model at
https://github.com/benedmunds/CodeIgniter-Ion-Auth/blob/2/models/Ion_auth_model.php#L1472

[2018-06-11 13:16] benedmunds commented on #1224
Also its worth calling out, you can add these fields to the users table and they should just work.  We removed a separate profiles table with Ion Auth v2 + since the overhead of an additional profiles table isn't really needed.  That said, I understand if your data model calls for the separate table thats fine, and we'll figure out why its not working.

[2018-06-11 18:10] adrianrz commented on #1224
Ion_auth_model Object
(
    [tables] => Array
        (
            [users] => users
            [groups] => groups
            [users_groups] => users_groups
            [login_attempts] => login_attempts
        )

    [activation_code] =>
    [forgotten_password_code] =>
    [new_password] =>
    [identity] =>
    [_ion_where] => Array
        (
        )

    [_ion_select] => Array
        (

[2018-06-12 06:32] gsuresh2u commented on #906
@agung-wete  Thanks it worked for me too

[2018-06-12 08:31] anand1100 commented on #1246
it's not working. use_ci_email  if true then its unable to send mail showing message.

[2018-06-12 11:55] benedmunds commented on #1246
are you getting any errors from CIs email class? You can use the print_debugger method to troubleshoot that https://codeigniter.com/user_guide/libraries/email.html?highlight=email#class-reference

[2018-06-12 12:23] anand1100 commented on #1246
user_ci_email i checked true so its showing unable to send email and im using ion_AUTH LIBRARY that time also not able to send email activation key

[2018-06-12 12:49] benedmunds commented on #1246
If you dump or log the email classes print_debugger output after the email send fails what do you get?

[2018-06-13 10:56] anand1100 commented on #1246
Its showing this error im stuck here. please help me sir to fix this

im getting unable to send the activation Email

[2018-06-13 12:08] bvrignaud commented on #1246
I think the message is clear :
line 136 : replace TURE with TRUE

[2018-06-13 12:17] anand1100 commented on #1246
That i have changed sir but still i'm getting
error unable to send activation email
![1](https://user-images.githubusercontent.com/22708423/41350805-f52ce5a4-6f31-11e8-966a-166cf7658d81.PNG)
![2](https://user-images.githubusercontent.com/22708423/41350858-1f965622-6f32-11e8-9c14-ce44f8dee10c.PNG)
![3](https://user-images.githubusercontent.com/22708423/41350892-38109640-6f32-11e8-8bf1-4d9b7fc72d64.

[2018-06-13 12:20] bvrignaud commented on #1246
Have you try to send an email with CodeIgniter ?
https://www.codeigniter.com/user_guide/libraries/email.html

[2018-06-13 12:24] anand1100 commented on #1246
yes i have tried through codeigniter php mailer and its works.

[2018-06-13 12:27] bvrignaud commented on #1246
What have you in your log ?

[2018-06-13 12:36] anand1100 commented on #1246
simply i download ion_auth and  i just simply enable email_activation but its not showing error its showing unable to send activation mail.
$config['use_ci_email'] = TRUE;
$config['email_activation']           = TRUE;
$config['email_config'] = array(
	'mailtype' => 'html',
    'protocol' => 'smtp',
    'smtp_host' => 'just49.justhost.com',
    'SMTPSecure'=>	'tls',
    'smtp_port' => '26',
    'SM

[2018-06-13 12:45] bvrignaud commented on #1246
in application/config.php, set log_thresold at least 1
[code]

And now you can read your log at application/logs/

[2018-06-13 13:26] anand1100 commented on #1246
Still having same issue sir .  still showing unable to send mail .

[2018-06-13 13:30] bvrignaud commented on #1246
Can we read your logs please ?

[2018-06-15 06:49] anand1100 commented on #1246
Thanks sir i have fixed that problem through PHPMailer .

[2018-06-15 12:53] #1246 closed, assigned to nobody

[2018-06-16 19:12] adrianrz commented on #1224
Hi, is this dump that you required me?

[2018-06-16 19:53] benedmunds commented on #1224
for the SQL dump, you want the output of $this->db->last_query()

Docs:
https://www.codeigniter.com/userguide3/database/helpers.html

[2018-06-20 13:54] Tibokool opened #1247 "Unable to email the Reset Password link"
Hello.
I know a lot of issue spoke about this subject, i read a lot of topic about this and try a lot of modification but its dont work.. I want to send email with the server method.

I create the file "email.php" inside the folder applications/config

`<?php
	defined('BASEPATH') OR exit('No direct script access allowed');

	$config['useragent'] = 'CodeIgniter';
	$config['protocol'] = 'sendmail';

[2018-06-20 13:57] bvrignaud commented on #1247
Where is your config/ion_auth.php file ?

It must be in application/config/ion_auth.php

If you put it in the third party folder, that doesn't work.

[2018-06-20 13:59] Tibokool commented on #1247
Hello. Thanks for your reply @bvrignaud

My ion Auth configuration file is in:
`application/config/ion_auth.php`
and my email file is in:
`application/config/email.php`

[2018-06-20 14:00] bvrignaud commented on #1247
And what have you in your log file ?

[2018-06-20 14:03] Tibokool commented on #1247
`$config['log_threshold'] = 4;`
return me:

`.......
INFO - 2018-06-20 16:02:41 --> Session: Class initialized using 'files' driver.
INFO - 2018-06-20 16:02:41 --> Helper loaded: date_helper
INFO - 2018-06-20 16:02:41 --> Database Driver Class Initialized
INFO - 2018-06-20 16:02:41 --> Model "Ion_auth_model" initialized
INFO - 2018-06-20 16:02:41 --> Helper loaded: form_helper
INFO - 2018-06-20 16

[2018-06-20 14:12] bvrignaud commented on #1247
Can you try this at Ion_auth.php l173:
[code]

[2018-06-20 14:13] benedmunds commented on #1247
@Tibokool also in addition to what @bvrignaud posted above.   Just as a test, try setting email_config to match your email.php config:

[code]

[2018-06-20 14:15] Tibokool commented on #1247
@bvrignaud Its return me:
**Error 1:**
`Severity: Notice
Message: Undefined property: CI_Loader::$email
Filename: config/ion_auth.php
Line Number: 173`

**Error2:**
`Severity: Warning
Message: Cannot modify header information - headers already sent by (output started at /home/www/client/ecume/dev/ionauth/system/core/Exceptions.php:271)
Filename: core/Common.php
Line Number: 570`

**Error3:**
`Type

[2018-06-20 14:16] Tibokool commented on #1247
@benedmunds Hi. I already try this solution, i find it on another issue but it dont work too for me....

[2018-06-20 14:20] benedmunds commented on #1247
@Tibokool can you move that logging code from @bvrignaud to the libraries/ion_auth.php file, instead of the config/ion_auth.php file.

[2018-06-20 14:21] bvrignaud commented on #1247
@Tibokool you haven't make the change in the good place. It's for libraries/Ion_auth.php
Can you try this at libraries/Ion_auth.php l173:
change :
[code]
by
[code]

[2018-06-20 14:25] Tibokool commented on #1247
Oh... sorry..
I put this on line 173 (in the librairie file):
`else
   {
      $this->email->send(FALSE);
         log_message('debug', $this->email->print_debugger());
}`

and its return me nothing, always Unable to email the Reset Password link..
Its strange, i remove the `$this->set_error('forgot_password_unsuccessful');`

[2018-06-20 14:26] bvrignaud commented on #1247
Of course it return notthing look in your log file

[2018-06-20 14:27] Tibokool commented on #1247
This if my full log file:
`INFO - 2018-06-20 16:27:24 --> Config Class Initialized
INFO - 2018-06-20 16:27:24 --> Hooks Class Initialized
DEBUG - 2018-06-20 16:27:24 --> UTF-8 Support Enabled
INFO - 2018-06-20 16:27:24 --> Utf8 Class Initialized
INFO - 2018-06-20 16:27:24 --> URI Class Initialized
INFO - 2018-06-20 16:27:24 --> Router Class Initialized
INFO - 2018-06-20 16:27:24 --> Output Class I

[2018-06-20 14:40] bvrignaud commented on #1247
@Tibokool No idea ...
CodeIgniter Version ?
Ion-Auth version ?

[2018-06-20 14:44] Tibokool commented on #1247
Last version of codeigniter & Ion Auth, i download it 2 hours ago. I want to try before build project with Ion Auth and its the only problem i find.. Thanks for your time @bvrignaud. Hope someone else find solution ^^

[2018-06-20 14:47] benedmunds commented on #1247
Which branch did you download? 2?

[2018-06-20 14:50] Tibokool commented on #1247
@benedmunds Yes, on the branch n°2 _(Codeigniter version: 3.1.9)_

[2018-06-20 15:02] benedmunds commented on #1247
@Tibokool can you post your libraries/ion_auth.php - lines 165 - 175

[2018-06-20 15:03] Tibokool commented on #1247
**Librairies/ion_auth.php (line 166 to 175):** 165 is blank line for me
`
					if ($this->email->send())
					{
						$this->set_message('forgot_password_successful');
						return TRUE;
					}
					else
					{
						$this->set_error('forgot_password_unsuccessful');
						return FALSE;
					}`

Its very strange, i touch to 0 file. Only the config file..

[2018-06-20 15:05] benedmunds commented on #1247
Update it to the following please, and post the output:

[code]

[2018-06-20 15:07] Tibokool commented on #1247
No error was display, and the log file was the same of my reply before..

[2018-06-20 15:14] benedmunds commented on #1247
Ah, it might be an issue with the user lookup and not the email then.

Can you make sure https://github.com/benedmunds/CodeIgniter-Ion-Auth/blob/2/libraries/Ion_auth.php#L145 is passing this if check

[2018-06-20 15:20] benedmunds commented on #1247
To expand on this, you can add the following var_dumps to help determine where this is failing exactly, my guess is something wrong with the identity you're passing:

[code]

[2018-06-20 17:13] Tibokool commented on #1247
Hi back.
I try your code and he return me this:

`string(17) "user query failed"`

[2018-06-20 18:08] benedmunds commented on #1247
Run a SQL query for select(*) from users where {identity}={identity} and post the results, specifically looking for if both the user identity is correct and if they are active.

[2018-06-20 20:22] Tibokool commented on #1247
Sorry but i dont know this kind of sql query ? He return me an error ?
`#1064 - Erreur de syntaxe près de '*) from users where {identity}={identity} LIMIT 0, 25' à la ligne 1`

[2018-06-20 20:23] benedmunds commented on #1247
The {identity} pieces were just placeholders, you’ll need to insert those.  The idea is to run a similar query to what Ion Auth is running.

[2018-06-20 20:31] Tibokool commented on #1247
Oh.... oh no....
The user was not active............ I'm so ashamed...
Sorry for all the time I wasted on you...
I think you need to add custom error if user reset password and i not active for all the assh**** like me 🤐

[2018-06-20 20:33] benedmunds commented on #1247
No problem!  Just glad we figured it out.  I'm going to close this issue, take care!

[2018-06-20 20:33] #1247 closed, assigned to nobody

[2018-06-22 13:18] Tibokool opened #1248 "Create auth hierarchy"
Hello everybody,

On my project, i want to create a hierarchy with your library. I want to know, for you, the easiest way to do  this. For example, the administrator can create / edit / remove "Moderator". The Moderator can create / edit / remove his own team of "Employees".

So, i create my 3 group inside the codeigniter project. Now:
1 - Where can i change the default group relative to the login

[2018-06-22 15:18] benedmunds commented on #1248
You can pass the groups to register() to use instead of the default group:
http://benedmunds.com/ion_auth/#register

[2018-06-25 07:15] Tibokool commented on #1248
Thanks ! Just another question. In your librairie, the session data was include ? Whis informations of logg user?

[2018-06-25 14:24] benedmunds commented on #1248
The session contains the following:

[code]

You can reference the code at https://github.com/benedmunds/CodeIgniter-Ion-Auth/blob/2/models/Ion_auth_model.php#L2009

[2018-06-25 14:24] #1248 closed, assigned to nobody

[2018-06-28 16:13] Namennaj opened #1249 "I am struggling with is_unique validation"
I am trying to create a new user group.  Here is a snippet of my code:

`$this->load->library('form_validation');
    $this->form_validation->set_rules('group_name','Group name','trim|required|is_unique[groups.name]');
    $this->form_validation->set_rules('group_description','Group description','trim|required');`

The problem is I keep getting this error message:  The Group name field must contai

[2018-06-28 16:15] benedmunds commented on #1249
Are you certain that the name you're entering is unique?

[2018-06-28 16:17] Namennaj commented on #1249
@benedmunds, Yes I am sure.  The existing groups are "admin" and "members".  I am trying to create a group with the name "test".

[2018-06-28 16:18] Namennaj commented on #1249
I should mention that I have used this code with a previous version of Codeigniter and it worked for that project.  However, I cannot get it to work now.

[2018-06-28 16:27] benedmunds commented on #1249
Which version of CI are you on now? Maybe there's an issue with it.  I'd recommend upgrading to the latest and checking docs/issues on their project to see.

Worst case is you could write your own callback validation that checks it.

[2018-06-28 16:28] benedmunds commented on #1249
Maybe also check these to see if any solve your problem: https://github.com/bcit-ci/CodeIgniter/issues?q=is%3Aissue+is_unique+is%3Aclosed

[2018-06-28 18:00] Namennaj commented on #1249
I tried both 3.1.8 and 3.1.9 now.  Both have the exact same issue.  I am using the steps in this tutorial:  https://avenir.ro/create-cms-using-codeigniter-3/.   I have now built 6 iterations today and they all have this issue.  However, the project I did in 2017 with CI works perfectly.  It's really baffling.

[2018-06-28 18:02] Namennaj commented on #1249
The working version is 3.1.5.  I am going to try that version next and see if that makes a difference.

[2018-06-29 11:41] Namennaj commented on #1249
I tried with 3.1.5 with no luck.  I also tried reinstalling wamp.

[2018-06-29 11:55] Namennaj commented on #1249
@benedmunds it's working now.  I used an old version of Ion Auth (Version: 2.5.2).  It worked on a previous project and when I tried those files it did the trick.

[2018-06-29 11:55] #1249 closed, assigned to nobody

[2018-06-29 18:53] enlivenapp commented on #1220
I'm using Ion Auth 3 (dev currently) integrated in a REST API.

Argon2,
PHP 7.2,
CI 3.1.9,
https://github.com/chriskacerguis/codeigniter-restserver/releases/tag/3.0.3

 It's working well so far and quite fast on my slow dev box.

[2018-07-02 12:22] max-ci commented on #1191
Any idea what's wrong @benedmunds ? It's working ok only when I set `sess_time_to_update` to `0` or set `sess_regenerate_destroy` to `TRUE` in CI config.

You need to call logout twice or change logout function to destroy session twice in order to get it work.

[code]

[2018-07-06 12:21] gpdas1 opened #1250 "Forgot password link error in ion auth"
In my config file when base_url = 'http://my-static-ip/my-installation-folder' then forgot password link works fine. But when change my basr_url to base_url = '/my-installation-folder' all applications work fine except forgot password link.
Email is going to the concerned user, but the reset password link does not contain the Server IP address.
This type of Error is coming. The page you were on is

[2018-07-06 14:41] benedmunds commented on #1250
It’s not going to be able to determine the full path from a fresh session.  Is there was issue with putting the full url?

[2018-07-07 05:21] gpdas1 commented on #1250
My Server is in private IP(172.25.x.x). When net goes down people from outside can not access it. But locally we can access it in our office where people are in same LAN. If I put full URL, then we are also not able to access the Server though it is in the same LAN when the net is down. That is reason I had changed from full URL to relative URL.
Another reason is the access becomes very fast when

[2018-07-07 12:25] benedmunds commented on #1250
Hmm so the relative URL works for other emails?

[2018-07-11 10:08] gpdas1 commented on #1250
I have faced no other problems except 'Forgot password link' in relative
path.
Sorry for the delayed reply.

On Sat, Jul 7, 2018 at 5:55 PM, Ben Edmunds <notifications@github.com>
wrote:

--

*With best regards.G. P. DasSDE(IT), O/o: Sr. GM (NWO-CM)Odisha Telecom
CircleBhubaneswarMobile: 9437025000*

[2018-07-11 16:29] benedmunds commented on #1250
I'm really not sure what would cause this.

Compare your views/auth/email/activate.tpl.php and views/auth/email/forgot_password.tpl.php files.  Maybe try them without the anchor() method...

[2018-07-13 12:34] gpdas1 commented on #1250
Hi Ben
Actually I tried by removing anchor function, but then Link for reset is
not there. In that place only some code (activation code, series of
alphanumeric characters) comes.

On Wed, Jul 11, 2018 at 9:59 PM, Ben Edmunds <notifications@github.com>
wrote:

--

*With best regards.G. P. DasSDE(IT), O/o: Sr. GM (NWO-CM)Odisha Telecom
CircleBhubaneswarMobile: 9437025000*

[2018-07-16 13:11] tantrus332 opened #1251 "Latest stable release?"
Which branch is the last stable version?

- The online documentation (http://benedmunds.com/ion_auth/) says that, download: http://github.com/benedmunds/CodeIgniter-Ion-Auth/zipball/2 (2016-06-18, without table meta)
- After downloading, the offline documentation says that http://github.com/benedmunds/CodeIgniter-Ion-Auth/zipball/master (2016-06-18, with table meta)
- In releases version 2.6.0 - 2

[2018-07-16 13:59] benedmunds commented on #1251
The 2 branch is the latest, so http://github.com/benedmunds/CodeIgniter-Ion-Auth/zipball/2  is correct.

I'll fix the offline docs, thanks for pointing that out!

[2018-07-16 13:59] #1251 closed, assigned to nobody

[2018-07-23 13:09] rondemena opened #1252 "Folder-Repo Structure-Configuration Suggestion"
While working on integrating this code with a project, I realized I didnt want to host, or try and view your userguide from the host I was working on.  It may be ideal to present your code online from here by simply changing the userguide directory to docs and enabling the GitHub Pages for your documentation link.

[2018-07-23 13:14] benedmunds commented on #1252
Hey, the docs are available online at http://benedmunds.com/ion_auth/

[2018-07-23 13:14] #1252 closed, assigned to nobody

[2018-07-29 09:58] zieru opened #1253 "not working with remote database"
Hello,

I have using ion_auth for a long time ago, but in my another project I need to separate database and webserver.

so.. I setup database.php :

[code]

I can query with this
`$this->db->get('users')->result();`

and I can create user with
`$this->ion_auth->register('test', 'test', 'test@test.com', null,array(1));`
but unfortunately I can't login, it, always says Incorrect Login,

Am I missin

[2018-07-29 12:08] #1253 closed, assigned to nobody

[2018-07-29 12:08] zieru commented on #1253
haha forget to set identity by username,, sorrryyyy

[2018-07-29 16:18] buddyy93 opened #1254 "Please help with HMVC setup"
i've tried so many attempts but still not working please someone help me with the setup.

Message: Undefined property: stdClass::$data

Filename: drivers/Session_database_driver.php

Line Number: 184

Backtrace:

File: E:\MyServer\simawa\application\third_party\MX\Loader.php
Line: 177
Function: _ci_load_library

File: E:\MyServer\simawa\application\third_party\MX\Loader.php
Line: 196
Function: lib

[2018-07-30 08:38] wrabit commented on #947
In theory, as you are storing user_id and unique identity in the session as well, you might be able to simply:

[code]

[2018-07-30 13:51] bthart commented on #947
digitaloutback, this may work, however, it doesn't seem that IonAuth stores any user information in the CIsessions table, so it would still require work to set this up.

If people are interested to setup IonAuth so each user can only have one active session at any one time, they could copy the following code to the end of the IonAuth Model Login() function. This is based on a previous comment from

[2018-07-30 13:55] benedmunds commented on #1254
Hey,

I dont personally use HMVC but a few issues have been posted about it in the past so hopefully you can find something there that helps, see:

https://github.com/benedmunds/CodeIgniter-Ion-Auth/issues/257
https://github.com/benedmunds/CodeIgniter-Ion-Auth/issues/1139
https://github.com/AXeL-dev/CodeIgniter-Ion-Auth-HMVC

[2018-07-30 15:37] buddyy93 commented on #1254
@benedmunds hi thank you for the response.
after several attempts and following the repository i finally made it work, for some reasons there's problem in my system folder which is in the root project, so i replace it with a brand new one and it worked like a charm, thank you

[2018-07-30 15:56] benedmunds commented on #1254
Great to hear!

[2018-07-30 15:56] #1254 closed, assigned to nobody

[2018-07-31 07:23] ghost commented on #947
@bthart thank you. it work for me. in codeigniter 3, but ion auth no have session_id in userdata session, I used `session_id()` for get latest session id.

[2018-07-31 16:23] TylerVigario opened #1255 "Can't make a NULL column unique during v2 -> v3 SQL Server migration"
**I get this error (excluded other 2):**

`Error in query (3621): The CREATE UNIQUE INDEX statement terminated because a duplicate key was found for the object name 'dbo.users' and the index name 'uc_activation_selector'. The duplicate key value is (<NULL>).
Could not create constraint or index. See previous errors.
The statement has been terminated.`

**from these last 3 commands:**

[code]

**Th

[2018-07-31 16:37] benedmunds commented on #1255
Hey,

Where did these constraints originally come from?  I don't see them in the SQL file here: https://github.com/benedmunds/CodeIgniter-Ion-Auth/blob/2/sql/ion_auth.mssql.sql

[2018-07-31 17:09] TylerVigario commented on #1255
Sorry, maybe this is an incorrect spot for this error.

However, it came from the v3 branch – https://github.com/benedmunds/CodeIgniter-Ion-Auth/blob/3/sql/migrating_from_ionauth2/migrate.mssql.sql

[2018-07-31 17:10] benedmunds commented on #1255
Ah sorry, my bad. I didn't follow.

@Indigo744 can you take a look at this?

[2018-08-03 06:14] hafeez551 commented on #892
hi , i have applied the same solution on same problems but cannot solve the problems

[2018-08-05 20:29] mraheelkhan opened #1256 "password function to encrypt my password"
hello.
I am new to CI and Ion Auth, thank you for such great lib.
I just want to insert users by my own methods with custom fields, but I don't know how to encrypt the password so that password can work on login as well.
Can you please suggest me what to do? or which password function can I use?

Let's suppose, I have received the below password from the user.

[code]
How to encrypt it?

Thank You

[2018-08-06 10:11] bvrignaud commented on #1256
Hello,

I think the best way is to use the **register()** methode.
Uou can also use the **hash_password()** methode.

`

[2018-08-06 10:13] mraheelkhan commented on #1256
like
`$password = hash_password($password);`

but doesn't work for me. :-(

[2018-08-06 10:17] bvrignaud commented on #1256
No, not like that.
It must me something like this :
[code]
Take a look to the source code of Ion_auth_model.php

I really think that `$this->ion_auth->register()` is a better way.

[2018-08-06 11:55] marios88 commented on #1220
Upgraded and everything works fine!

Are there any plans to implement OTP in version 3?

[2018-08-06 12:45] mraheelkhan commented on #1256
Okay thank you will check that.
secondly i need to know that i want to show the user profile data from "users" table after the sucessful login.
can you please tell me how to do that?

i tried

[code]
but unfortunately, none of them is working for me.
I just want to show the User First, name and last name on the profile view(dashbaord) to the user who is logged in.

[2018-08-06 12:50] mraheelkhan commented on #1256
this is my controller code.

[code]

[2018-08-06 12:59] bvrignaud commented on #1256
Please, read the doc : http://benedmunds.com/ion_auth/
`$this->ion_auth->user()->row();`

[2018-08-06 13:04] mraheelkhan commented on #1256
Oo, Allah,
That's Love, how can I miss it?
Ion_Auth saved my complete BS Degree.
ThankYou for such great script.
Love From Pakistan <3

[2018-08-06 13:04] #1256 closed, assigned to nobody

[2018-08-07 13:38] fliant opened #1257 "Unable to load the requested file: login_view.php"
i am new to codeigniter and as i tryied  out my code i met this error message
some one help me out

An Error Was Encountered
Unable to load the requested file: login_view.php

[2018-08-07 13:43] benedmunds commented on #1257
Hey @fliant

This is a place meant for posting bugs with the library itself.  I'd recommend asking for help on the CodeIgniter forums (https://forum.codeigniter.com/) or on StackOverflow (https://stackoverflow.com/).

When you do post there, make sure to include additional information on what you've tried so far and examples of your code.

[2018-08-07 13:43] #1257 closed, assigned to nobody

[2018-08-12 10:34] phalox commented on #1220
Migrating my CI2 with flexi auth to ion auth (v3 the dev branch).. so far so good :)

Been a while that I did PHP dev, now I understand bcrypt also handles the salting which is a nice touch!

1 question though: is there somewhere updated docs? I believe the docs folder in the 3 branch isn't up to date...

[2018-08-14 14:06] marios88 opened #1258 "Ion_auth_model not reusing the default database connection"
I don't know if this is a bug or a feature!
CI : 3.1.9
Ion_auth : 3 & 2

Applies to the following code segment

[code]
If `database_group_name` is empty or `default` shouldn’t it recycle the same connection?

relevant commits https://github.com/benedmunds/CodeIgniter-Ion-Auth/pull/1194/commits/2f6c6eb9a508e99af5ba768488043bd30a076583 and merge https://github.com/benedmunds/CodeIgniter-Ion-Auth/pul

[2018-08-14 16:18] benedmunds commented on #1258
If it's empty CI should load the default, afaik CI will recycle automatically if it already exists.  Are you seeing a second DB connection being opened?

[2018-08-15 06:02] ramsesrom opened #1259 "is there a way I can utilize this for an acl?"
is there a way I can utilize this for an acl ? like per group or per person allowed access and restriction access?

[2018-08-15 08:03] ramsesrom commented on #1259
another thing, would it hurt if I change the user id to a random number not just auto increment from the table?

[2018-08-15 15:09] benedmunds commented on #1259
Steve Goodwin has an ACL project here https://github.com/weblogics/Codeigniter-Ion-Auth-ACL/blob/master/README.md

I haven’t used it myself though.

On user id, it shouldn’t cause any issues with Ion Auth, it relies on the DB for that.

[2018-08-15 15:09] #1259 closed, assigned to nobody

[2018-08-16 08:00] dipalinigade26 opened #1260 "It's asking for drive permssion each and every time while login"
Hello i am having application where i can login using google. its working fine for me when i click on login it visited gmail login page where i can put gmail id and password it ask for drive permission then it redirect back to my application, after completing my work i logout from application, after some time if i click on login application not visited gmail page directly get login with previous d

[2018-08-16 08:41] marios88 commented on #1258
Using PDO, testing with following code seems to open a new connection

[code]
outputs
[code]

Did a little bit more digging as the results seem counter-intuitive and couldn’t find any documentation, it seems like if you set `return = TRUE`  you get a new connection no matter what

see https://github.com/bcit-ci/CodeIgniter/blob/7269d8376151afe58dc23956693bf12ec48bc45d/system/core/Loader.php#L377

[2018-08-16 13:48] benedmunds commented on #1260
Which branch of Ion Auth are you using?

[2018-08-16 14:46] benedmunds commented on #1258
I guess we could change the way we call this based on if the value is empty.

@Indigo744 do you want to comment on this since it references your PR?

[2018-08-16 16:41] Indigo744 commented on #1258
Thanks for the ping @benedmunds

The issue, as I understand it, is that another connection is always used for IonAuth calls, even with default group naming. Looking back at the PR and the commits, I can't understand why I didn't see it sooner 😦

The thing is, CodeIgniter Database library is made in a way that it is complicated to have multiple DB opened at the same time.

If you do
[code]
It will

[2018-08-16 18:17] benedmunds commented on #1258
I like the idea of reusing if its default and doing a new connection (no injection) if its a non-default group name.  Nice balance between performance and complexity.

[2018-08-16 19:20] Indigo744 commented on #1258
Alright then, I'll submit a PR on 2 and 3 branches.

[2018-08-16 20:37] #1258 closed, assigned to nobody

[2018-08-17 06:01] dipalinigade26 commented on #1260
sorry but i'm not getting what means the branch?

On Thu, Aug 16, 2018 at 7:19 PM, Ben Edmunds <notifications@github.com>
wrote:

[2018-08-17 15:28] benedmunds commented on #1260
Which branch of the Ion Auth repo are you using? (2/3/social/etc)

[2018-08-19 17:05] phalox commented on #1220
Hi devs!

I'm trying out a slightly specific registration flow as follows:
1. admin invites user on email address. I'm disabling the account and will send an email with the activation_code
2. user goes to activation_code url, where he has to enter all his personal details

I see in the config that "email_activation" exists, but it does nto seem to be used anywhere. is this still in development? So

[2018-08-19 17:18] phalox opened #1263 "Deactivate dependes on not-imported library"
It seems that the deactivate function in the model is the only one that relies back on the library code... But in the model, the library is not included, therefore it throws an error

https://github.com/benedmunds/CodeIgniter-Ion-Auth/blob/3/models/Ion_auth_model.php#L449

Adding at the start of the method, fixes the issue:
`$this->load->library('ion_auth');`

[2018-08-19 18:57] benedmunds commented on #1263
Can you post an example of your code? Are you calling the model directly or via the library?

[2018-08-19 19:04] phalox commented on #1263
Sure! This is code from my User controller. So, I'm going via the library, but there it's going straight to the '__call' function. So in a way, you're always straight calling the model.

[code]

[2018-08-19 19:08] benedmunds commented on #1263
Seems odd that it’s not already in the CI super global there.  Are you autoloading the model by chance? Note, that it shouldn’t be.

If not, what CI version? I’ll attempt to reproduce and do a hotfix.

[2018-08-19 20:07] phalox commented on #1263
I did some further testing here, and it seems it's due to my little hack (now you probably think, well duuuuh) :-).

I've subclassed the library as MyAuth, to make some level of abstraction, and to be able to add features I need myself. It might be that due to the passthrough (library -> model), this does not always work. But I didn't figure out the cause yet.

Conclusion: Standard setup seems to

[2018-08-19 21:15] benedmunds commented on #1263
Ok awesome, thanks for the update!

[2018-08-20 02:57] adipatiarya opened #1264 "Non Object property"
204 : $forgotten = $this->ion_auth->forgotten_password($identity->{$this->config->item('identity', 'ion_auth')});

Error when email is not active
div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Trying to get property of non-object</p>
<p>Filename: api/Auth.php</p>
<p>Line Number: 204</p>

	<p>Bac

[2018-08-20 05:04] dipalinigade26 commented on #1260
Using Oauth 2

On Fri, Aug 17, 2018 at 8:58 PM, Ben Edmunds <notifications@github.com>
wrote:

[2018-08-20 13:55] benedmunds commented on #1260
So you have coded your own custom solution to integrate Ion Auth with Google via Oauth2?

[2018-08-20 13:57] benedmunds commented on #1264
Post the entire forgot_password method from your controller please.

Also what changes have you made to the example code?

[2018-08-22 04:43] dipalinigade26 commented on #1260
i have used the hybrid auth library for that....

On Mon, Aug 20, 2018 at 7:25 PM Ben Edmunds <notifications@github.com>
wrote:

[2018-08-22 13:48] benedmunds commented on #1260
Sorry for the basic questions but I'm trying to make sure we're on the same page.  Are you using Hybrid Auth via custom code you've written or are you using the "social" branch of Ion Auth?

[2018-08-22 14:12] dipalinigade26 commented on #1260
I have not change  any code.....

On Wed, 22 Aug 2018, 7:19 pm Ben Edmunds, <notifications@github.com> wrote:

[2018-08-22 14:20] benedmunds commented on #1260
Right, but Ion Auth doesn't support Hybrid Auth by default in the 2/3 branches.  So I'm trying to figure out where your issue might be coming from.

Can you post more example code.

[2018-08-29 07:50] almiali opened #1265 "how to allow user to only edit his branch"
Hi

I have more than one branch

how I can make a user for each branch, I mean that I should choose the branch id for a specific user and allow him to edit his branch only

thank you

[2018-08-29 12:27] benedmunds commented on #1265
Sorry but you’ll need to give me more details.  What is s branch in your use case?

Example code is also appreciated.

Ion Auth doesn’t have an ACL built in, there is a user supported package you could try for that here https://github.com/weblogics/Codeigniter-Ion-Auth-ACL

[2018-08-29 16:06] almiali commented on #1265
I trying to allow each user to manage his branch

so I should assign the Branch ID to the user then he can manage his branch without access to other branches

I do not have the code, but that is the Idea .
we have a restaurant with three branches
1-there is 3 branches each branch has ID
2- user I will allow to manage Branch one only, user 2 allows to manage branch 2 and etc...

now I can only allo

[2018-08-29 16:58] benedmunds commented on #1265
That should work fine. It could be as simple as something like:
[code]

[2018-09-03 06:34] almiali commented on #1265
thank you  a lot, your hint help me a lot

Thank you

[2018-09-03 06:34] #1265 closed, assigned to nobody

[2018-09-05 09:22] vipinvid opened #1266 "Logout function not work after second login"
In my application if i login first time it behave normal but after second time login i can't logout
it redirects me to  my previous page

[2018-09-05 09:24] vipinvid commented on #1266
function login()
	{
		if (!$this->ion_auth->logged_in())
		{

		    $this->data['title'] 					= $this->lang->line('login');
	    	$this->data['message'] 					= "";
	    	$this->data['req_from'] 				= ($this->uri->segment(4)) ?
	    	$this->uri->segment(4) : ($this->input->post('req_from'));
	    	if ($this->input->post()) {
		    	$this->form_validation->set_rules(
		    	'identity',
		    	$this-

[2018-09-05 11:24] benedmunds commented on #1266
when you call logout() see what errors() returns

[2018-09-05 13:17] vipinvid commented on #1266
No error occurs it back me login

[2018-09-05 13:23] benedmunds commented on #1266
You’ll need to troubleshoot this a bit.

Start by commenting out the redirects and view loads.  Add var dumps of the logout() call, along with var dumping the output of errors().  If logout() isn’t throwing any errors then the logout call is likely working and there’s a logic issue somewhere.

[2018-09-07 06:24] bytedevzone commented on #1023
This issues in Core CI session library for matching cookie id size, which is set to 40 in Session lib
Actual value in PHP 7.2 is 32

Line
preg_match('/^[0-9a-f]{40}$/', $_COOKIE[$this->_config['cookie_name']])

change to
preg_match('/^[0-9a-f]{32}$/', $_COOKIE[$this->_config['cookie_name']])

[2018-09-09 23:31] leanblanh opened #1267 "Resource 'ion_auth' already exists and is not a Ion_auth instance."
Hi Ben! @benedmunds
I've installed the Ion Auth 2 with CI 3 but I had this error message when access mydomain/auth :

An Error Was Encountered
Resource 'ion_auth' already exists and is not a Ion_auth instance.

The application is running with nginx with Docker container in my localhost.(Debian+PHP7+MariaDB)

Could you help me? Thanks!
My CodeIgniter config files:

[code]
[code]

[2018-09-09 23:45] leanblanh commented on #1267
Missing loading codeigniter's database library.
$autoload['libraries'] = array('session', 'database', 'ion_auth');

Sorry.

[2018-09-09 23:45] #1267 closed, assigned to nobody

[2018-09-10 16:36] benedmunds commented on #1023
@abldev Thanks!  You may want to contribute this back to CI core as a pull request if it's not fixed in the latest version of CI yet.

[2018-09-11 12:42] vipinvid commented on #1266
in logout function call
$logout = $this->ion_auth->logout();
echo "logout = $logout",
exit;
/*****************/
It display logout=1
but calling login again logged me without authenticating

[2018-09-11 13:42] benedmunds commented on #1266
Make sure there is a redirect after logout and before login so CodeIgniter can initialize the session properly.  Let me know if that affects your results.

[2018-09-11 13:55] vipinvid commented on #1266
function logout($param = '')
	{
	  	$this->data['title'] 					= $this->lang->line('logout');

		$this->data['active_class'] 			= $this->lang->line('logout');

		// log the user out

		$logout = $this->ion_auth->logout();

		// redirect them to the login page
		if ($param == "password_changed")
			$this->prepare_flashmessage($this->lang->line('password_change_success_login_to_continue') , 0);
		els

[2018-09-11 13:57] vipinvid commented on #1266
function login()
	{
	    if (!$this->ion_auth->logged_in())
		{
		$this->data['title'] 					= $this->lang->line('login');
		$this->data['message'] 					= "";
		$this->data['req_from'] 				= ($this->uri->segment(4)) ;

		if ($this->input->post()) {
			$this->form_validation->set_rules(
			'identity',
			$this->lang->line('email') ,
			'required|valid_email|xss_clean');
			$this->form_validation->se

[2018-09-11 14:03] benedmunds commented on #1266
Interesting, and login() is returning false on login? but only the second time?

No errors on login?

You should add some troubleshooting code in the model login method next.

[2018-09-11 14:04] vipinvid commented on #1266
what type of code ??

[2018-09-11 14:41] benedmunds commented on #1266
dump/log at various points to determine where and why it's failing.  I'd pay particular interested around login attempts logic and CI session logic.

[2018-09-12 06:57] vipinvid commented on #1266
on redirecting to other page login  function not working

[2018-09-12 08:05] nuryagdym opened #1268 "ability to ban/unban users"
Hi,
I am using this library, and now in my project there is requirement to ban/unban users.
As ban status will need to be checked when user logins this feature should be added into library.

[2018-09-12 14:13] benedmunds commented on #1268
If you submit a PR I'll be happy to review it.  Thanks!

[2018-09-12 14:13] #1268 closed, assigned to nobody

[2018-09-13 10:52] aphofstede commented on #1232
@romandahidayat Have you tried to set `sess_driver` to `redis`? Do you run in to Ion auth related issues then?

[2018-09-13 11:43] marios88 opened #1269 "Possible "remember me" issue"
Please bear with me as i have not yet fully debugged this, and i might be wrong

Use case: One user logins from multiple devices with the same credentials using "remember me"
[code]

from
https://github.com/benedmunds/CodeIgniter-Ion-Auth/blob/4a007e65cd6da0f14e68421ef91e20445e44a211/models/Ion_auth_model.php#L2102

the "remember me" hash goes on the database, so after the second login,
only the r

[2018-09-13 13:04] benedmunds commented on #1269
This is correct.  It's a limitation of the implementation that I'm fine with.  In order to support multiple computers you'd need an additional table that tracks remember codes.

[2018-09-13 13:05] #1269 closed, assigned to nobody

[2018-09-16 07:37] romandahidayat commented on #1232
@aphofstede im no yet tried to sess_driver to redis,btw any some example for this case?

[2018-09-17 10:34] bvrignaud opened #1270 "CI 4"
Hello,

CodeIgniter 4 is currently in alpha phase.

I think it's time to launch a new '4' branch of Ion-auth.
I have no mission at this time, so I have time to start it.

What did you think?

[2018-09-17 14:12] benedmunds commented on #1270
That sounds good to me!

[2018-09-23 08:59] phalox opened #1271 "Activation codes are problematic to be used in a URL"
An activation code, you would typically send via an email, and append to a URL.
But it seems that the algorithm used is generating characters that are not allowed:

e.g.
$2y$10$hSl57gPMjTfIPf0sv5ic3.WTC2nWpfbwRAqsFd8T/2xzjNWrBPgKi

$ signs are by default not allowed in a CI URL. Fixed by replacing with ":", and doing so again in the other direction.
/ (forward slash) is a valid output, and this ca

[2018-09-25 16:43] bvrignaud commented on #1270
Started.
I will send you a pull request asap.

[2018-09-26 08:23] felisane123 opened #1272 "User edit their own information"
Hello I want to know if its possible to allow users to edit their own information and how ? Best regards !

[2018-09-26 14:29] benedmunds commented on #1272
Yes you can.  You'll need to modify the example controller/views to suit your needs.

[2018-09-26 14:29] #1272 closed, assigned to nobody

[2018-10-01 10:35] bvrignaud commented on #1270
Hello @benedmunds ,

As you can see, I make e new 4 branch on my repository : https://github.com/bvrignaud/CodeIgniter-Ion-Auth/tree/4

Can you create a new '4' branch please ?

[2018-10-01 13:07] benedmunds commented on #1270
@bvrignaud done, I branched it from the 3 branch.

[2018-10-01 20:35] felisane123 commented on #1272
I have been trying but till now I couldn't figure out how to do it exactly would be very helpful if you give me a light. Thanks

[2018-10-02 03:08] benedmunds commented on #1272
Post a couple examples of the code you tried and the results you got. We can help suggest paths to take.

I’d start with copying the admin edit functionality and removing the admin group requirement

[2018-10-02 03:13] felisane123 commented on #1272
Thank you I'll try and let you know the result

[2018-10-02 07:49] bvrignaud commented on #1272
This my template :
The controller :
[Profil.php.zip](https://github.com/benedmunds/CodeIgniter-Ion-Auth/files/2436922/Profil.php.zip)
The view :
[edit_profil.php.zip](https://github.com/benedmunds/CodeIgniter-Ion-Auth/files/2436923/edit_profil.php.zip)

[2018-10-02 17:12] felisane123 commented on #1272
Thank you soo much benedmunds and bvrignaud.

[2018-10-02 17:13] benedmunds commented on #1271
Hmm, probably happens intermittently due to the random hash.  I think urlencoding is fine with me.  Anyone else have an opinion?

[2018-10-09 00:43] julio899 commented on #1052
i can solve using the new library encryption recommend.
example:
`
// #Encrypt

        $this->load->library('encryption');
        $to_encrypt="some value";
        $this->encryption->initialize(
                array(
                        'cipher' => 'aes-256',
                        'mode' => 'ctr',
                        'key' => $this->config->config['encryption_key']
                )

[2018-10-11 06:45] phalox commented on #1271
I'm a little confused though. I've enabled the built-in email activation, but the code that's being passed in that URL is totally different from what's in the DB.

Here the codes:
![image](https://user-images.githubusercontent.com/3983738/46785339-be06ac00-cd31-11e8-9ba0-0e1c490bab17.png)

The email is generated with the default template and uses the id and activation_code of the ion_model. What a

[2018-10-11 12:46] benedmunds commented on #1271
Which branch are you using?  and I agree, it should use the users.activation_code

[2018-10-11 19:41] NiMusco opened #1275 "Mixed users sessions"
Time to time users log-in as another user and they are able to see, even change information.
I saw this same error posted out there, but with no answer.
Just upgraded to last version, is this error of your knowledge? is it fixed?
Thank you Ben, awesome library btw.

[2018-10-11 20:25] benedmunds commented on #1275
@NiMusco I've never experienced this or had it reported.  I'd recommend checking to ensure you are checking access rights at appropriate places, verifying that session data/cookies aren't getting mixed up somehow, etc

[2018-10-11 20:41] NiMusco commented on #1275
I found two people with same problem [here](https://stackoverflow.com/questions/39718050/codeigniter-ion-auth-user-session-conflict). I'm using default Codeigniter 3 sessions (by database) and cokie configuration. Didn't modify Ion Auth at all.

I understand that this could (probably) be not a problem directly related to Ion Auth, but still, would be great to be able to detect where the error come

[2018-10-12 05:48] phalox commented on #1271
I'm living somewhere on the V3 branch. I think on this commit:
https://github.com/benedmunds/CodeIgniter-Ion-Auth/commit/ec1822dd10fe20a30b4438e8a6f4a8ba1921582b

But if it'd use the activation_code we bump into the charachters issue. So
I'd really like to understand where this emailed code comes from.

The only place I see this used is:
Lib/Ion_auth line 299 and I don't see any conversion happen.

[2018-10-12 13:53] benedmunds commented on #1271
@phalox check the forgotten_password_code and activation_selector for matches

[2018-10-12 13:55] benedmunds commented on #1275
Couple things.

1 -  can you reproduce consistently?

2 - can you upgrade to the latest version of CI3 and see if the issue persists

[2018-10-12 15:41] phalox commented on #1271
Forgotten password code is NULL, as I have simply used the 'register'
function, like here:

https://github.com/benedmunds/CodeIgniter-Ion-Auth/blob/3/libraries/Ion_auth.php#L268

deactivate() causes the activation code to be genreated. A little later the
activation code is added to the array for the view: 'activation' =>
$activation_code.

in the activate.tpl.php it's outputting this link: anchor(

[2018-10-12 21:23] benedmunds commented on #1271
Good work tracking this down.  This code was written by @Indigo744 so I'd like to get their input, any feedback here?

[2018-10-13 07:43] Indigo744 commented on #1271
@benedmunds thanks for tagging me.

@phalox

The approach `selector:activator` is used  for activation code (PR #1212), for reset code (PR #1209) and for "remember me" feature (PR #1208).

The approach, and why it's more secure, is explained in this very interesting article: https://paragonie.com/blog/2015/04/secure-authentication-php-with-long-term-persistence

So indeed, you have in the DB the s

[2018-10-13 08:00] Indigo744 commented on #1275
Using IonAuth since at least 4 years and never experienced anything like it.
But if true, it is a major security concern.

Which version of IonAuth are you using?

[2018-10-13 08:14] Indigo744 commented on #1255
@benedmunds Sorry I actually didn't see you notification.

Indeed, I made an error in the TSQL syntax. In MySQL, you can add unique on column with NULL. In TSQL, you should do as proposed by @MeekLogic

I'll create a PR.

[2018-10-14 20:29] NiMusco commented on #1275
**-Can you reproduce consistently?**
Like if there are a sort of steps to reproduce? No, sadly.
It just occurs randomly, but frequently enough.
It does not even happen with large numbers of users. Happened with five or so.

**-Which version of IonAuth are you using?**
I'm using Codeigniter 3.0.0, which is not the latest (3.1.9) but shouldn't be a problem.

[2018-10-14 20:45] benedmunds commented on #1275
Can you post your CI config file? Also
Might be worth attempting an upgraded CI version.

[2018-10-14 21:42] NiMusco commented on #1275
Sure, I will.
[config.txt](https://github.com/benedmunds/CodeIgniter-Ion-Auth/files/2476896/config.txt)

[2018-10-14 21:49] benedmunds commented on #1275
Couple more things to try:

Set sess_match_cookie to false.

Set a cookie_domain.

Also you’ll want to remove the above file since your encryption key is visible there, or generate a new encryption key.

[2018-10-15 01:37] NiMusco commented on #1275
There's no "sess_match_cookie", should I add it?
Or do you mean "sess_match_ip" ? I already tried with true and false.

Changed encryption_key, thanks.

[2018-10-15 01:50] benedmunds commented on #1275
Yea thats what I meant, sess_match_ip.

[2018-10-15 02:00] NiMusco commented on #1275
Ok, give me a couple of days. I'll let you know if it keeps happening with this configuration.

[2018-10-15 03:22] benedmunds commented on #1275
Thanks!

[2018-10-15 05:37] phalox commented on #1271
@Indigo744 Thanks a bunch for your elaborate explanation!

Indeed you've found where I went wrong :-) There's probably a couple of reasons why I tried to retrieve the code from DB (like easily wanting to test myself without email, which I've now solved with "Test Mail Server Tool" on windows).

I also fully understand your reasoning now as how to make a secure activation feature.

Still, 1 comment

[2018-10-15 06:59] Indigo744 commented on #1271
When implementing the new security feature for "activation" (and remember me, and reset), I tried to reduce the public interface change so upgrading to IonAuth 3.0 wouldn't need too much work.

Sadly, it translates in weird stuff like this, being named `activation_code` (like in IonAuth 2), instead of something like `activation_user_code`. There is also the DB's column naming. I didn't change the

[2018-10-15 07:13] Indigo744 commented on #1275
@NiMusco While you're at it, you should also set `cookie_secure` to TRUE (if using HTTPS, to avoid transmitting the cookie on unsecured connection) and `cookie_httponly` to TRUE (to avoid JS code to be able to modify your cookies).

Regarding the way it happened. Does it happened for two users on two unrelated computer? Or does it happened on the same computer?

Also, it could be interesting to ha

[2018-10-15 13:35] benedmunds commented on #1271
Loving the discussion here.

I’d vote that we keep BC where we can, even if it’s a bit more confusing.  How about adding additional comments (maybe even take some of the explanation above)? That way it’s more clear to future devs?

[2018-10-15 15:30] phalox commented on #1271
One more question:

Since I don't want to touch the abstraction...
The account creation procedure would go like this:

1. An invite is sent to a user
2. The user opens the invite and needs to submit more details before he can
finalize the activation.

The problem is that I cannot validate the user's user_code other than
activating the user. But then the activation is already completed.
I'd need to

[2018-10-15 15:46] Indigo744 commented on #1271
@benedmunds I'll have a look around and see where I can add comments. Expect a PR this week 😉

@phalox it sounds like you want to do something that Ion Auth do not provide (yet), which is separation between the activation verification and the activation itself. While looking at adding comments, I could try to add a function like `user_can_activate()`. How does that sound?

[2018-10-15 20:17] Indigo744 commented on #1271
@benedmunds @phalox please check #1277

[2018-10-16 21:21] NiMusco commented on #1275
Just passing by to answer @Indigo744

**-Does it happened for two users on two unrelated computer? Or does it happened on the same computer?**
Different computers.

Note: Funny thing is that, last time it happened, it seemed that the sessions had been **swapped**.
I mean, if user A can see B information, then B can see A's. Maybe a coincidence.

**-IonAuth Version (v2 or v3)?**
v2, which I see is

[2018-10-16 21:26] aita-kane opened #1278 "Ajax and Ion Auth"
Hello @benedmunds     where can I  find Ion auth implemented with Ajax please ?

[2018-10-16 22:58] benedmunds commented on #1278
I recommend this from @avenir https://avenir.ro/authentication-system-with-ion-auth-and-ci3/login-using-ion-auth-and-ajax/

[2018-10-16 22:58] #1278 closed, assigned to nobody

[2018-10-17 05:57] phalox commented on #1263
I'm back! With the changes in the library, I really need to make sure that all library code stays clean: no modifications!

To be able to change libraries more easily (this is the 3rd user lib i'm using due to lack of support or just a bad API), I wanted to add a layer in between: MyAuth.

To not have to redefine every single function, I've simply subclassed Ion_Auth (which is probably not 100% cl

[2018-10-17 07:16] phalox opened #1279 "[v3] sending emails is replacing chars by '='"
Heya,

I don't think this is an ion auth issue, but might be caused by a badly configured mail class... I just didn't see any instructions on how to fix it or how to properly configure the email library (I followed the config from the repo)

It seems to be related to the line-length which should not be more than 76 chars (74 + \r\n), also documented here: https://stackoverflow.com/questions/149168

[2018-10-17 07:16] Indigo744 commented on #1275
The next time it happens, do you think you could dump the `ci_sessions` table from your database?
It would be even better to also retrieve the cookies on each impacted users (but it's harder, and require you have access to your user's computer).

**Regarding you CI version**. You said 3.0.0, which went live in _March 2015_.

First, you should always try to be on the latest stable version, for _sec

[2018-10-17 13:39] benedmunds commented on #1263
It's because the files that are loading via Ion Auth are "namespaced" to ion_auth when loading them.  I put namespace in quotes cause it's not a true namespace, but is the way CI lets you group items that you load.

If you're extending the Ion Auth library this should still work I believe.

[2018-10-17 13:45] benedmunds commented on #1279
This shouldnt matter for HTML emails right?  As far as I understand it, the 78 character limit is a suggestion for display, and the activation code URL isn't displayed in the HTML email, it's behind an <a href.

[2018-10-17 16:08] phalox commented on #1263
For some reason it doesn't work...

`
class MyAuth extends Ion_auth
{

	public function __construct()
	{
		parent::__construct();
	}
...
`

Could it be because the deactivate() function is calling ion_auth->logged_in() and not myauth->logged_in()? Therefore the subclassed library isn't auto loaded?

`
	public function deactivate($id = NULL)
	{
		// WARNING MODIFICATION we need this because the sub

[2018-10-17 16:14] phalox commented on #1279
That's exactly how it's configured...

[code]

To hack things and make it work, I've added:

`$this->email->set_crlf( "\r\n" );`

in libraries/ion_auth.php/ around line 300 (mail sending code)

This seems to fix things...
Email stuff is so fragile, incredible what backwards compatibility causes in complexity!

[2018-10-18 00:22] vitor-defenx commented on #800
Hello, got the same issue working with CI 3.1.9 and HMVC from Wirez...
playing around for almost a week trying to get it sorted out.

Plot Twist: just found the solution or my case, Controller Auth must extend MX_Controller, the rest of bugfix is easy.

[2018-10-18 13:19] benedmunds commented on #1263
Are you getting an error just with deactivating? Or what’s happening exactly?

[2018-10-18 13:20] benedmunds commented on #1279
What if you set the crlf setting in the email_config instead?

[2018-10-19 06:27] phalox commented on #1279
Done, works.

I'll need to test this on my production environment and see if I can also
reproduce this issue...

I'm too unfamiliar with potential email issues...

On Thu, 18 Oct 2018, 15:20 Ben Edmunds, <notifications@github.com> wrote:

[2018-10-19 07:29] phalox commented on #1263
Hi Ben,

Indeed. the deactivate() function is the only one that relies back on the
library functions (from the model). So it seems that indeed a subclass
(MyAuth) of IonAuth causes an incorrect autoload of the IonAuth library (or
is it autoloading the MyAuth library and therefore failing the call?) (can
I see the loaded libraries?)

On Thu, 18 Oct 2018 at 15:19, Ben Edmunds <notifications@github.c

[2018-10-19 12:33] benedmunds commented on #1279
Ok awesome

[2018-10-19 12:34] benedmunds commented on #1263
Gotcha.  You have any thoughts on how to best handle this?  Maybe injecting the library in to the model on load?

[2018-10-23 14:10] NiMusco commented on #1275
Hi again, how you doing? Last night it happened again.
I have a dump of **ci_sessions** which I'll be sending to @Indigo744.

Now I created a form with an input "name" that make a **set_userdata** and shows the result.
I will ask some users to enter and send it own name and tell me if they can see another one.
Looks like a Codeigniter issue.

[2018-10-23 19:40] Indigo744 commented on #1275
Alright, I'm eager to see it.
Thanks

[2018-10-24 14:35] benedmunds commented on #1279
Closing this for now, @phalox tag me if you have any further issues here and I'll reopen.

[2018-10-24 14:35] #1279 closed, assigned to nobody

[2018-10-24 14:36] benedmunds commented on #1271
PR merged.  Closing.

[2018-10-24 14:36] #1271 closed, assigned to nobody

[2018-10-24 14:36] benedmunds commented on #1266
@vipinvid any update on this?

[2018-10-24 14:38] benedmunds commented on #1231
@cdmathukiya are you on the "social" branch?  are you still seeing this issue?

[2018-10-24 14:39] benedmunds commented on #1264
Closing due to age, tag me if this is a still an issue and I'll reopen.

[2018-10-24 14:39] #1264 closed, assigned to nobody

[2018-10-24 14:40] benedmunds commented on #1260
Closing due to age, tag me if this is a still an issue and I'll reopen.

[2018-10-24 14:40] #1260 closed, assigned to nobody

[2018-10-24 14:40] benedmunds commented on #1255
Closing since the PR has been merged.

[2018-10-24 14:40] #1255 closed, assigned to nobody

[2018-10-24 14:41] benedmunds commented on #1250
Closing due to age, tag me if this is a still an issue and I'll reopen.  This looks more like a CI issue than an Ion Auth issue since anchor() is a CI function.

[2018-10-24 14:41] #1250 closed, assigned to nobody

[2018-10-24 14:41] benedmunds commented on #1242
Closing due to age, tag me if this is a still an issue and I'll reopen.

[2018-10-24 14:41] #1242 closed, assigned to nobody

[2018-10-24 14:42] benedmunds commented on #1232
Closing due to age, this is really a question for the CodeIgniter forums since it's not Ion Auth specific.  Hope you got it sorted though :D

[2018-10-24 14:42] #1232 closed, assigned to nobody

[2018-10-24 14:42] benedmunds commented on #1231
Closing due to age, tag me if this is a still an issue and I'll reopen.

[2018-10-24 14:44] benedmunds commented on #1230
Closing due to age, we'll make sure to take care of this with v4.  Thanks!

[2018-10-24 14:44] #1230 closed, assigned to nobody

[2018-10-24 14:44] benedmunds commented on #1224
Closing due to age, tag me if this is a still an issue and I'll reopen.

[2018-10-24 14:44] #1224 closed, assigned to nobody

[2018-10-24 14:47] benedmunds commented on #1220
@phalox hey, it's used here now:
https://github.com/benedmunds/CodeIgniter-Ion-Auth/blob/3/libraries/Ion_auth.php#L240

[2018-10-24 14:47] benedmunds commented on #1203
Closing due to age, tag me if this is still an issue and I'll reopen.

[2018-10-24 14:47] #1203 closed, assigned to nobody

[2018-10-24 14:50] benedmunds commented on #1195
Closing this ticket so we can consolidate feedback in #1220

I believe this is about ready to be the default branch.  Waiting on some feedback in #1220.

[2018-10-24 14:50] #1195 closed, assigned to nobody

[2018-10-24 14:50] #1189 closed, assigned to nobody

[2018-10-24 20:27] Indigo744 commented on #1275
I have looked at the session, and nothing out of ordinary. IDs are all different. Some IPs appears multiple times, but it should not be an issue (for instance I have a webapp where most of the user come from the same IP, and I never saw any issue).

Now, we may need to look into your implementation, as something else maybe afoot.

What do you store in your session to identify a user? How do you us

[2018-10-25 04:36] cdmathukiya commented on #1231
hello @benedmunds ,
yes, still getting this issue

[2018-10-25 14:22] marios88 opened #1280 "Redirect call uses refresh"
CI : **3.1.9**
Ion_auth : **3** & **2**

`redirect()` calls use the "refresh" option in order to avoid stale content

In my opinion this partially solves the problem and does not account for the following cases
- Possible stale content on browser back-forward
- it causes a flash of "white page" during the redirects

A solution to both problems could be to output no-cache headers in the controller

[2018-10-25 14:35] benedmunds commented on #1280
In general my opinion is that it's not an Ion Auth issue to handle all the edge cases that come up in app development like this.  The example controller is just an example of how to use the library, it's not meant to be used as your application.

If you want to submit a PR for the example code for this I'd merge it though as it does seem to be a tricky issue for many.

[2018-10-25 15:25] benedmunds commented on #1231
@cdmathukiya reopening, can you answer the above questions please.

[2018-10-27 11:10] marios88 commented on #1280
I see you point and agree, the controllers are per use case

[2018-10-27 11:10] #1280 closed, assigned to nobody

[2018-11-01 19:05] federicovilla opened #1284 "MySQL collation"
Not an issue but just a doubt: right now the sql files create utf8_general_ci tables. Can I edit this to utf8mb4_unicode_ci?
Thanks

[2018-11-01 19:24] marios88 commented on #1284
If i recall correctly, i changed the tables and fields after the initial setup to mb4 with no problems on MariaDB 10.x

[2018-11-01 19:26] benedmunds commented on #1284
I've never tried it but not aware of anything that would cause issues there.

[2018-11-02 10:00] dgvirtual opened #1285 "set_flashdata does not work after libraries/ion_auth.php logout() method if used with CI3 and PHP5"
I have noticed that if I set flashdata this way in my controller:

	public function logout()
	{
		$this->ion_auth->logout();
		$this->session->set_flashdata('message', $this->ion_auth->messages());
		redirect('user/login', 'refresh');
	}

The flashdata (indicating successful logout) does not get displayed on the user/login page.

I have traced the problem to this check in libraries/ion_auth.php, l

[2018-11-02 15:52] benedmunds commented on #1285
Which exact php version are you on?

[2018-11-02 21:08] dgvirtual commented on #1285
Yeh, did not specify that: the ones I tested on were 5.6.15, 5.6.37 and some other version in the 5.6.* range.

[2018-11-03 00:35] benedmunds commented on #1285
Interesting, anyone else seeing an issue with this on PHP 5.x?

[2018-11-03 09:01] dgvirtual commented on #1285
I have found a thread https://stackoverflow.com/q/42124509/9663356 suggesting various workarounds for (I think) the same problem.

[2018-11-08 12:05] abilb commented on #1285
From Codeigniter's documentation

[Session Library](https://www.codeigniter.com/user_guide/libraries/sessions.html) -> [Destroying a Session](https://www.codeigniter.com/user_guide/libraries/sessions.html#destroying-a-session)

[2018-11-08 15:09] benedmunds commented on #1285
Might be better for Ion Auth to overwrite the values it uses rather than destroying the whole session.  I worry about what userland implementations this could break though and wouldnt want to inadvertently open a security hole in users apps if they relying on the destroy action.

[2018-11-11 15:03] tpw1314 opened #1286 "Consider to migrate to CI4"
I just want to know if any of you especially Bend plan to upgrade/migrate to CodeIgniter 4 ?
I am interested to contribute. So if no one intends to do that I will create one prototype and post the repo here.

[2018-11-11 15:09] bvrignaud commented on #1286
Hello, as you can see, I have worked on it :

- https://github.com/benedmunds/CodeIgniter-Ion-Auth/issues/1270

- https://github.com/benedmunds/CodeIgniter-Ion-Auth/tree/4

- https://github.com/bvrignaud/CodeIgniter-Ion-Auth/tree/4

It's steel in progress.

Your help is welcome.

[2018-11-11 15:28] tpw1314 commented on #1286
Glad to hear that. But I see some files are few days outdated as compared to CI4 master. I will fork out from CI4 and amend according to Ion-Auth.

The question is, should I follow branch 3 or branch 2 ?? Which is more up-to-date in terms of feature and stability ?

[2018-11-11 15:37] bvrignaud commented on #1286
Be careful, actually all the woks are on my repo : https://github.com/bvrignaud/CodeIgniter-Ion-Auth/tree/4 . No merges have been done yet.
I used the branch 3 to start the 4 one.

[2018-11-11 15:38] bvrignaud commented on #1286
https://github.com/benedmunds/CodeIgniter-Ion-Auth/pull/1273

The branch 4 is up to date with the 3 one.

[2018-11-13 22:05] simmonspaul commented on #1220
Straight forward upgrade from Auth 2 - thanks for that.
Everything looks seamless and is working.

I will get my gorillas out in...

[2018-11-19 07:11] tpw1314 opened #1287 "Capitalize the first letter of folder name + file name"
In CI4, the first letter of all folders' name in 'application' are capitalized (as well as /config file). Would not it be better if Ion-Auth 4 follows the same approach to match CI4 ?

I have tried to changed mine in local repo but github wont recognize it as changes.
![image](https://user-images.githubusercontent.com/20537849/48691398-6a7b5e00-ec0d-11e8-88e5-5b6391d4373c.png)

[2018-11-19 08:24] bvrignaud commented on #1287
This branch is WIP.
Look at
IonAuth4 still follows the same approach to CI4.
Have a look to :
- https://github.com/benedmunds/CodeIgniter-Ion-Auth/pull/1273
- https://github.com/bvrignaud/CodeIgniter-Ion-Auth/tree/4

[2018-11-21 23:46] geoffcording opened #1288 "Session inactivity"
I am running ion_auth 2.5.2 I have seen several references to 'sess_expiration' but cannot find it anywhere. Is it implemented in a version later than my own? I also cannot find any reference on this (http://benedmunds.com/ion_auth/) page.
What I would like to do is set an inactivity time which, when expired, triggers an event that allows me to refresh the user's page back to a nominated page and

[2018-11-22 03:16] benedmunds commented on #1288
Hey,

The session expiration is a CI config setting: https://www.codeigniter.com/user_guide/libraries/sessions.html#session-preferences

There are a few ways you could do what you want, it would probably be a custom implementation.  You could have a session variable that store a last activity timestamp, if the timestamp is over X old then redirect them to your new error page and force a log out.

[2018-11-22 06:13] geoffcording commented on #1288
Thank you.
I think the issue was (for me) that the sess_** values to be defined in config.php are described under the session library documentation pages whereas I was looking for them in the ion_auth pages where config options are described. There was nothing that suggested to me that there were other values described elsewhere. This was reinforced by the absence of any sess_*** values in the sup

[2018-11-22 06:18] benedmunds commented on #1288
Great suggestion on the documentation update, reopening this until I make that.

In order to alert the user without a new activity being required you’d need to use JavaScript. Maybe long poll against an endpoint that tells you if you still have an active session, then redirect if you don’t.

[2018-11-26 18:49] josefcampos commented on #892
Hello, I have also reviewed the case. However, it still shows the error.

[2018-11-26 19:09] benedmunds commented on #892
Which PHP version are you on?

Also which CodeIgniter version and Ion Auth hash?

And what OS?

[2018-11-26 19:12] josefcampos commented on #892
Resolved! ... I am using the version of Codeigniter 3 ... the name of the model file must be capitalized:

https://www.codeigniter.com/user_guide/installation/upgrade_300.html

[2018-11-26 20:00] benedmunds commented on #892
Hey can you try the 3 branch? It should work with CI3 out of the box.

[2018-11-27 12:43] tpw1314 commented on #892
I have the same issue in the past. Capitalizing the name of the model file solved it.

[2018-11-27 23:04] janvanrijn opened #1289 "Support / Ability to switch hashing method"
In our application, due to initial (bad) design constraints we stored the passwords of users using a weak hashing algorithm, and did not use salt. Now our application is running for several years stable, and with a huge userbase, we would like to change this (without requiring users to update their password), but this requires some book keeping and an intermediate step.

It seems that IonAuth does

[2018-11-27 23:46] benedmunds commented on #1289
Hey,

Which version are you on?

Version 3+ support this ootb.

[2018-11-27 23:51] janvanrijn commented on #1289
Thanks for your quick reply!

Which branch do I download that from? I am guessing "3"? Or should I go ahead and download "4" immediately?

[2018-11-28 00:07] benedmunds commented on #1289
Yea you get them from the branches but they should usually match the CodeIgniter version you’re using.  Ion Auth 2 works for CI2 and CI3 though.

Looking at your link, looks like you were on Ion Auth 2 and using MD5. This complicates things a bit since Ion Auth 3 doesn’t support MD5.

What I would recommend is sticking with Ion Auth 2 for right now and doing the following:

Backup your DB
Increase

[2018-11-28 00:34] janvanrijn commented on #1289
I once added this single feature to my copy of IonAuth to support MD5 in line with our (bad) design choice. I actually wanted to get rid of this added MD5 support, as it will complicate further `Ion_auth` upgrades.

Personally, the best way to get rid of this MD5 option is to upgrade to 3 anyway, and replace the `_password_verify_sha1_legacy` with custom code `_password_verify_md5_legacy`.

If my

[2018-11-28 00:38] janvanrijn commented on #1289
One more related question:

[code]

This seems to call to a hook. Where can I find these?

[2018-11-28 00:50] benedmunds commented on #1289
Ah ok cool, agreed then that a PR probably wouldn’t be widely needed so probably not worth the extra effort.

Jeff has a good tutorial on using the hooks here:
http://codebyjeff.com/blog/2013/01/using-hooks-with-ion_auth

[2018-11-28 01:04] janvanrijn commented on #1289
Just for the record, I am happy to put in the additional effort (it's only fair, for getting to use `Ion_Auth`) but the reason why I wouldn't add it upstream is because I am probably the only user using `md5` (not sure if it was ever an official feature). Let me know if you would like me to add it anyway.

http://codebyjeff.com/blog/2013/01/using-hooks-with-ion_auth

Cool! What I get from it is th

[2018-11-28 01:06] benedmunds commented on #1289
Nah I don’t think it’s needed, MD5 used to be supported but isn’t been in awhile now.

Yea that’s a fair description, they’re a way to run your own custom code without modifying the library files. Makes upgrading easier.

[2018-11-28 01:07] janvanrijn commented on #1289
Thanks for the support, really appreciated!

[2018-11-28 01:07] #1289 closed, assigned to nobody

[2018-11-28 01:07] benedmunds commented on #1289
No problem, hope it goes smoothly!

[2018-11-28 16:05] janvanrijn opened #1290 "Migration SQL file has too small password size"

[2018-11-28 16:20] #1288 closed, assigned to nobody

[2018-11-28 16:21] benedmunds commented on #1220
Going to go ahead and bump the 3 branch to be the default.  Closing this ticket, any new issue can go into the general issues stream.

[2018-11-28 16:21] #1220 closed, assigned to nobody

[2018-11-28 16:23] #1290 closed, assigned to nobody

[2018-11-28 16:28] benedmunds commented on #1287
Closing since this is handled in the upcoming version from @bvrignaud

[2018-11-28 16:28] #1287 closed, assigned to nobody

[2018-11-28 16:28] benedmunds commented on #1286
Closing since this us being worked under #1273

[2018-11-28 16:28] #1286 closed, assigned to nobody

[2018-11-28 16:31] benedmunds commented on #1285
Anyone think this is worth implementing?

Also anyone want to submit a PR for it or should I?

[2018-11-28 16:33] benedmunds commented on #1231
Closing due to age, @cdmathukiya when you get time to help I'll be happy to reopen.  Thanks!

[2018-11-28 16:33] #1231 closed, assigned to nobody

[2018-11-28 16:34] benedmunds commented on #1263
Closing due to age, will reopen when/if we revisit this.

[2018-11-28 16:34] #1263 closed, assigned to nobody

[2018-11-28 16:34] benedmunds commented on #1266
Closing due to age, will reopen when/if we revisit this.

[2018-11-28 16:34] #1266 closed, assigned to nobody

[2018-11-28 16:35] benedmunds commented on #1275
@NiMusco any update on this?

[2018-11-28 16:35] benedmunds commented on #1284
Closing, lmk if you hit any issues here and we can reopen.

[2018-11-28 16:35] #1284 closed, assigned to nobody

[2018-11-28 16:39] Indigo744 commented on #1220
Good move @benedmunds
I have been using v3 since the beginning without an issue. Glad to see this version come to light! 😸

[2018-11-29 09:35] dgvirtual commented on #1285
What would be wrong about simply lowering the required PHP version to php5 for session_start() to be executed?

[2018-11-29 13:40] NiMusco commented on #1275
Ben, how you doing?

I wasn't able to access my web hosting sessions. So I decide to switch to another one, which fix the problem.

Still don't know what happened, but doesn't looks like an IonAuth problem.
I'm gonna let you know if I face something similar in the future.

Thank you both!

[2018-11-29 13:40] #1275 closed, assigned to nobody

[2018-11-29 13:56] benedmunds commented on #1275
Ok awesome, glad you got it resolved! Take care!

[2018-11-29 14:57] benedmunds commented on #1285
@dgvirtual that wouldnt fix it would it? Unless we add a redirect as well...

[2018-11-29 15:14] dgvirtual commented on #1285
@benedmunds , I do have a redirect in my logout function, but that is what is usually done after logout. As far as displaying flashdata display is concerned, it starts to work for me when I set something like

      if (version_compare(PHP_VERSION, '5.6.0') >= 0)

on line 433 (which means the session_start() gets executed).

My logout function is standard:

	public function logout()
	{
		if ($this

[2018-11-29 15:42] benedmunds commented on #1285
I think you're right and we should be safe doing this for all CI3 instances.  Just pushed this, give it a try please https://github.com/benedmunds/CodeIgniter-Ion-Auth/commit/bb8f867a34b02af1dde7889f43fcf1835819ca95

[2018-11-29 15:42] benedmunds commented on #1285
@dgvirtual ^

[2018-12-03 09:47] bvrignaud commented on #1270
The composer installer doesn't works.
Could someone help me to make this work please ?

[2018-12-04 08:11] ramasofficial commented on #954
I make my ERP systems with LDAP, if you want i can upload my code here.

[2018-12-04 15:24] dgvirtual commented on #1285
@benedmunds , this change is ok, works for me now, thank you.

[2018-12-04 15:39] dgvirtual commented on #1285
@benedmunds, just a short unrelated query that you can delete: on your webpage http://benedmunds.com/ion_auth/ you seem to still recommend version 2 of Ion Auth. Should it be replaced with version 3 for the purposes of CI3 applications?

[2018-12-05 18:19] benedmunds commented on #1285
@dgvirtual thanks for the heads up, it's been updated now

[2018-12-05 18:19] #1285 closed, assigned to nobody

[2018-12-15 17:21] xaiborweb opened #1299 "codeigniter session problem cloudflare"
Hi, I'm using Ion Auth social
https://github.com/ghosthouse/CodeIgniter-Ion-Auth-Social
and throughout my web check if the user has a session started or not.
[code]
For this reason in /application/config/autoload.php charge
`$ autoload ['libraries'] = array ('ion_auth');`
in my localhost everything is perfect, but in my website protected with cloudflare, create multiple sessions just with this:
`_

[2018-12-15 17:51] benedmunds commented on #1299
Hey, I’ve never seen this before. Probably worth following up on the CI forums and/or stackoverflow.

[2018-12-16 10:08] tpw1314 opened #1300 "Constructor in CI4"
**This Github Issue section is meant to track bugs with the library itself**
Please post generic support issues to the CodeIgniter forums or StackOverflow.

Hi, I should include @bvrignaud in this discussion as well.

I saw a constructor function in IonAuth controller. As CI4 suppose to work its magic, is this constructor necessary ?

[2018-12-16 14:09] bvrignaud commented on #1300
Yes it is, it loads everything the controller needs: libraries, helpers, models, ...

[2018-12-16 14:46] tpw1314 commented on #1300
I see. Is there no way to use CI4's magic way to load all the libraries/components that it needs ? I don't really understand how CI4 magic works if constructor is still needed. I tried CI4 documentation but there isn't really a detailed explanation.

[2018-12-16 15:18] bvrignaud commented on #1300
Can you send here the "CI4's magic" documentation url please.
I don't understand what you're talking about.

What's the problem with using constructor in controllers ?

[2018-12-17 14:54] tpw1314 commented on #1300
Here you go. I am actually in doubt. The problem is that there is no proper explanation as of why not and what is the difference/impact.
[LINK](https://codeigniter4.github.io/CodeIgniter4/installation/upgrade_4xx.html?highlight=magic)

[2018-12-17 15:17] bvrignaud commented on #1300
I seen.

As the doc explain, CodeIgniter controller doesn't use any more construct to load "magically" libraries, ... but that does not mean that we can not use them.
And, in fact, we use them to load necessary data.

[2018-12-17 16:05] xaiborweb opened #1304 "support Ion Auth Social with HybridIgniter CodeIgniter 3.x"
Hello, I have a user system with Ion Auth Social, which used the HybridIgniter library to register with social networks through Ion Auth.

https://github.com/ghosthouse/CodeIgniter-Ion-Auth-Social

but recently I stop working and I was wondering if you could update this version please. Thank you

[2018-12-17 16:16] benedmunds commented on #1304
Hey,

This branch isn't supported officially by me.  I'd recommend posting on @ghosthouse fork with whatever issue you're having.

[2018-12-18 17:47] xaiborweb commented on #1304
but in this link you see that you are the one who supports their development
https://github.com/benedmunds/CodeIgniter-Ion-Auth/tree/social

[2018-12-18 20:30] benedmunds commented on #1304
@xaiborweb I dont maintain it myself, just offer it as a branch from community contributions.  Could you post exact information about what is broken and what you've tried to fix it?

I'll see if anyone is interested in contributing a fix once there's more detail.  Thanks!

[2019-01-01 11:45] Unlimited-content-writing-service commented on #1191
i have also found the same issue.

[2019-01-01 16:58] benedmunds commented on #1191
What if you redirect after the logout?  Also post your Ion Auth, CI and PHP versions please.

[2019-01-04 13:59] BartMommens opened #1309 "Ion-Auth two factor authentication hook"
**This Github Issue section is meant to track bugs with the library itself**
Please post generic support issues to the CodeIgniter forums or StackOverflow.

[2019-01-04 14:17] BartMommens commented on #1309
Dear Ben,
Dear Followers of this Repo,

I'm looking to integrate a two Factor authentication section to this library. For this i will be using Google Authenticator. Since the other libraries for this haven't been updated for over 2years i'm considering implementing it myself.

I've been analysing your library today and it looks very nice especially with the use of hooks.

Now i have a question abo

[2019-01-05 15:08] benedmunds commented on #1309
Hey,

That’s definitely a valid way to do it, if you get this working it’d be great.  The post_login_successful hook might be a better fit for this.

Another way to do it is to write a class that extends Ion auth to wrap the login functionality.

Personally I think using hooks is a more future proof way though.

[2019-01-05 15:29] BartMommens commented on #1309
Hey Ben,

Thank you for your feedback, the only downside i could think of with using the **hooks** is the following:

Won't this approach pose a security risk ? or is it ok to set the cookie -> then present an additional screen with 2FA input. And if the input is incorrect kick the user out.

Sorry for all of these questions, but i want to do it the correct way, so that in the future i also might

[2019-01-07 02:47] benedmunds commented on #1309
Good point, you'd need to have another cookie for 2fa success, then modify the logged in check to also check for that, redirecting users to the 2fa input page if they dont have that second cookie.

[2019-01-12 06:03] kadivarmitesh commented on #892
Hello   How can solve these problem ?? Please Help me

An uncaught Exception was encountered
Type: RuntimeException

Message: Unable to locate the model you have specified: Login

Filename: /opt/lampp/htdocs/CodeIgniter-3.1.9/system/core/Loader.php

Line Number: 348

Backtrace:

File: /opt/lampp/htdocs/CodeIgniter-3.1.9/application/controllers/Welcome.php
Line: 165
Function: model

File: /opt/lamp

[2019-01-12 17:37] benedmunds commented on #892
@kadivarmitesh the models in that error arent Ion Auth models...

[2019-01-16 13:43] kadivarmitesh commented on #892
but these whole project run in windows system properly but not execute in ubuntu ?? why

[2019-01-16 13:59] bvrignaud commented on #892
I dont't think it's an IonAuth problem.
It's look like, you haven't give the correct right to your files.
Try to give the read right for everybody of your project directory.
It'n not a safe way but the easier.

[2019-01-21 10:31] lalithsagar03 commented on #1176
crypt(): Supplied salt is not valid for DES. Possible bug in provided salt format. can anyone help me to resolve the issue?

[2019-01-21 11:53] Indigo744 commented on #1176
Please drop IonAuth 2 and upgrade to IonAuth 3.

[2019-01-21 12:09] lalithsagar03 commented on #1176
yeah,ok

[2019-01-22 10:24] lalithsagar03 commented on #665
Severity: Notice

Message: Undefined property: REST_Controller::$load

can anyone help me to resolve?
Controller:-
<?php

defined('BASEPATH') OR exit('No direct script access allowed');
// This can be removed if you use __autoload() in config.php OR use Modular Extensions

// require APPPATH . '/libraries/REST_Controller.php';
require_once("application/libraries/REST_Controller.php");
require_once

[2019-01-22 14:14] benedmunds commented on #665
Are you using Ion Auth? I see Tank Auth in here.

[2019-01-22 14:30] lalithsagar03 commented on #665
I'm using tankauth

On Tue 22 Jan, 2019, 7:45 PM Ben Edmunds <notifications@github.com wrote:

[2019-01-22 14:43] benedmunds commented on #665
These GH issues are for issues with Ion Auth.  Maybe try asking in the tank auth issue tracker.

Probably better to ask in the CodeIgniter forums or StackOverflow though.  This is probably due to using the REST_Controller.  You might need to grab the I superglobal and load using that instead of using $this.  Something like:

[code]

[2019-01-22 14:49] lalithsagar03 commented on #665
Yeah,Thank you so much for the response.I will do it.

On Tue 22 Jan, 2019, 8:13 PM Ben Edmunds <notifications@github.com wrote:

[2019-01-30 20:36] ct0182 opened #1312 "$this->load->library('ion_auth');"
My apologies if this is not a bug, I am unable to "secure" a page by loading  $this->load->library('ion_auth');  yet ion_auth is installed.

**Which branch are you using?**
3
**What commit hash are you on?**
 c90d9e9

**Describe the bug**
Severity: Notice
Message: Undefined property: Home::$db
Filename: models/Ion_auth_model.php

**To Reproduce**
Add "        $this->load->library('ion_auth');

[2019-01-30 22:56] benedmunds commented on #1312
You'll need to have a DB connection setup and loaded in CI before you load Ion Auth.

[2019-02-01 16:09] BartMommens commented on #1309
Hey Ben,

Sorry for the late reply.
As we discussed earlier, the prefered way was using the hooks.
I managed to implement is using the 'post_login_successful'.

_(for users who consider implementing 2FA with ION_AUTH)_
The approach i took was the following:
After the user has successfully logged in, ion_auth triggers an event called 'post_login_successful'
You can intercept or "listen" for that ev

[2019-02-01 16:57] benedmunds commented on #1309
Thanks so much for writing this up.  If you get time I'd recommend either open sourcing the code or writing a blog post.  Would be great to be able to link to it for future people that need 2FA.

[2019-02-01 16:57] #1309 closed, assigned to nobody

[2019-02-07 04:11] walknight opened #1313 "Update Group Documentation"
Hello, i dont know if this is a bugs or not

I ussed ion auth brach 3 and when i look at the Update Groups Function in documentation, in there say that to use that function is :

[code]

but when i try to update some group, the group description not change. And then i see the ion_auth_model.php, and search update_group function. In there function describe this :

`public function update_group($gro

[2019-02-07 15:23] benedmunds commented on #1313
Thanks!  This has been fixed with https://github.com/benedmunds/CodeIgniter-Ion-Auth/commit/c5aa0a9b30c91674c3af9bbca3aa91d38d67ee2c

[2019-02-07 15:23] #1313 closed, assigned to nobody

[2019-02-12 06:50] krisnawar commented on #1191
same issue here. I still logged in when I call $this->ion_auth->logout(), only on the second attempt calling $this->ion_auth->logout() works..

[2019-02-12 15:02] benedmunds commented on #1191
@krisnawar what happens if you redirect after the logout?

[2019-02-12 18:12] krisnawar commented on #1191
@benedmunds the logout button is still there.. And I can still access the page that require login.

Ps : I modified the library, but I don't even touch the logout function.. I only add 1 or 2 functions

[2019-02-12 18:49] benedmunds commented on #1191
Interesting.  What's your CI and PHP versions?

[2019-02-13 07:09] seven0sam opened #1318 "Login destination"
Hello,

I can't find anything related to login destination in the docs. Suppose I opened the products sections of my website while not logged in, so ion_auth will redirect me to auth/login. But after successful login, it should send me back to where I came from (products section). Does this make sense?

Thanks.

[2019-02-13 07:53] marios88 commented on #1191
Are you sure the broswer is not caching the page? The cookies are still set?

On Tue, Feb 12, 2019 at 8:49 PM Ben Edmunds <notifications@github.com>
wrote:

[2019-02-13 14:37] benedmunds commented on #1318
Hey, the Ion auth library is agnostic about this. Feel free to change the example controller to redirect to whatever you need after login.

[2019-02-13 14:37] #1318 closed, assigned to nobody

[2019-02-15 12:14] Pitttt commented on #1191
It's happening to me too. I logout and then redirect with refresh but still logged in. CI 3.1.9 and PHP 7.2.

[2019-02-20 17:58] Lucisu opened #1323 "How to rename database columns"
Is this possible?

[2019-02-20 22:39] benedmunds commented on #1323
No it's not supported, you would need to change the source model.

[2019-02-20 22:39] #1323 closed, assigned to nobody

[2019-02-20 22:42] benedmunds commented on #1312
Closing.  @ctaylor-c172 please tag me if this is still an issue and I'll reopen it.

[2019-02-20 22:42] #1312 closed, assigned to nobody

[2019-02-20 22:42] benedmunds commented on #1304
Closing due to inactivity.

@xaiborweb please comment here and tag me with the details requested above if you're still having issues.  Thanks!

[2019-02-20 22:42] #1304 closed, assigned to nobody

[2019-02-20 22:45] benedmunds commented on #1300
Closing due to inactivity.

@tpw1314 please comment here and tag me if you'd like to discuss further.  Thanks!

[2019-02-20 22:45] #1300 closed, assigned to nobody

[2019-02-20 22:46] benedmunds commented on #1299
Closing.

@xaiborweb feel free to comment and tag me if you have more info or a reason to believe this is Ion Auth specific.  If you've solved this I'd definitely appreciate details for anyone that has this problem in the future.  Thanks!

[2019-02-20 22:46] #1299 closed, assigned to nobody

[2019-02-20 22:47] benedmunds commented on #1270
@bvrignaud sorry just saw the comment above.  Still having issues with composer?

[2019-03-03 20:09] bvrignaud commented on #1270
Hello @benedmunds ,

Sorry for my late response, I do not have much free time at this time.

I quickly try to install IonAuth (4) with composer, but that does not seem to work.
From what I read, you have to make a release of it, for IonAuth will be availble on Packagist.

I'm not familiar with making Composer package, so I'm not sure about all of that.

Thanks.

[2019-03-04 16:14] spitfire64 opened #1325 "login error"
I try to login with "admin@admin.com/password". When I submit, I get redirected back to the login page. However, I can see an error message for like 0.1 sec before the redirect.

If I halt (exit) the script Auth.php on line 78 (just before the redirect back to auth/login), the error is caught:
[code]

[2019-03-04 16:17] benedmunds commented on #1325
What version of PHP are you using?

[2019-03-04 16:26] spitfire64 commented on #1325
Sorry for the missing info.
CI 3.1.9
PHP 7.1.7

[2019-03-04 17:14] benedmunds commented on #1325
@spitfire64 Thanks!  Post your Ion Auth config please

[2019-03-04 19:22] enfrte opened #1326 "Thread Modes Error Unable to De-Activate Account when registering a new user"
After updating to Ion-Auth 3, I'm getting the error `Unable to De-Activate Account` when trying to register a new user.

Here is the code I'm calling.

    $user_id = $this->ion_auth->register($username, $password, $email, $additional_data, $group_ids);
    // $user_id returns false when doing a var_dump

    // update the user requirements
    if($user_id !== FALSE) {
      $this->session->set_fl

[2019-03-04 19:33] benedmunds commented on #1326
Try it with $config['email_activation']=FALSE and see what happens

[2019-03-05 08:22] spitfire64 commented on #1325
For some reason, the password was deleted from admin in my database. I put it back it and now it works again. Probably some issue on my side. Thanks.

[2019-03-05 08:22] #1325 closed, assigned to nobody

[2019-03-05 15:08] spitfire64 opened #1327 "Error in edit_user() without Ajax call"
CI 3.1.9
PHP 7.1.7

**Post your Ion Auth config below**
[code]

**Describe the bug**
When I edit a user and post it, I get the error
"This form post did not pass our security checks."
If I change the following in auth/edit_user:
[code]
to
[code]
it works. I have
[code]
So when I change the value of csrf_sitecom_token in my console and submit the form I get the error "The action you have requested

[2019-03-05 15:32] benedmunds commented on #1327
Yea your edit is good. We added CSRF protection to Ion Auth a long time ago, before CI had it built in.  It’s since been removed from Ion Auth.

[2019-03-05 15:32] #1327 closed, assigned to nobody

[2019-03-05 21:48] enfrte commented on #1326
Hi, Thanks for replying.

Yes, it worked. The user is created and no activation email is sent. Is it a problem with the email settings? This would be strange because the email settings are identical to the old version, which currently work.

[2019-03-05 23:35] benedmunds commented on #1326
Could be the email... try adding troubleshooting code through the library and model register methods to narrow down where it’s failing from exactly

[2019-03-09 10:39] enfrte commented on #1326
I stepped through the register function in ion_auth_model.php and everything looked fine. It then passed me to the register function in  ion_auth.php where it assigned false to `$deactivate = $this->ion_auth_model->deactivate($id);` ($id == 70, $email_activation == true).

Back in the deactivate function in ion_auth_model.php, we seem to have all the data for `$this->db->update($this->tables['user

[2019-03-09 15:53] benedmunds commented on #1326
Var Dump $data and $id there.

Also do a select * from users where id=70, directly against the DB and post the results please.

[2019-03-09 21:51] enfrte commented on #1326
[code]

and

`select * from users where id=70`

Returned nothing.

[2019-03-09 23:54] benedmunds commented on #1326
Interesting, didn’t the earlier post say the ID was 70? Maybe something deleted it?

[2019-03-10 16:54] enfrte commented on #1326
Yes, it is. Every time I run it and it fails, it uses up a PK ID, even though it doesn't register the user row. I wasn't sure if it was standard MySQL behaviour, but now you mention it, it doesn't really make much sense.

I'll look into if something maybe deleting it, but I can't really think of anything I've made that would do that.

[2019-03-10 18:38] benedmunds commented on #1326
Definitely seems like it’s failing at the db level then. See if you can add more logging, or bump up the CI error log reporting, to narrow down on which query is failing and why. Probably do data doesn’t match what the DB expects.

[2019-03-11 04:37] muhammedsafeer commented on #1190
@aleifuu Did you get the solutions.?

[2019-03-14 00:41] sunuazizrahayu opened #1329 "Access Login Page when Logged"
**Which branch are you using?**
3

**What commit hash are you on?**
Attempt updating to the latest commit on your branch.

**What CodeIgniter version are you using?**
v3

**What PHP version are you using?**
PHP 7.2

**Post your Ion Auth config below**
[code]

**Describe the bug**
i can access login page when i was logged. i think that we cant access login page when we're logged in.

**To Reproduce

[2019-03-14 00:45] benedmunds commented on #1329
Hey, this isn’t an error per se but you can change this.  The controller and views here are just examples of how to use the library, feel free to change them to match your needs.

I usually allow users to access the login page if logged in, in case they want to login as a different user. You could instead redirect them somewhere else or log them out.

[2019-03-14 00:45] #1329 closed, assigned to nobody

[2019-03-15 11:22] PedroRuiz commented on #800
Same problem here. Finally I forgot parent::__construct() in MY_Controller.

[2019-03-17 17:06] olayemii opened #1332 "Problem Logging In After Installing and Migrating"
I am trying to create an authentication page for a codeigniter application using ionAuth, and i have followed all instructions listed. But am facing a problem when trying to login, it keeps complaining of incorrect username and password. I have migrated the user table.

What is missing?

[2019-03-17 18:56] #1332 closed, assigned to nobody

[2019-03-18 18:27] benedmunds commented on #1270
@bvrignaud this should be fixed now, made a documentation change.  Can you test as well to make sure it works for you as well.

[2019-03-20 11:42] adsheff commented on #1191
I'm having the same problem - can anyone provide an update on this? Thanks!

[2019-03-21 19:34] robertkendrick commented on #1270
Hi
Small (syntactical) problem with SQLite3 and migration file:

`$ php spark migrate:latest -n IonAuth

CodeIgniter CLI Tool - Version 4.0.0-beta.1 - Server-Time: 2019-03-21 14:11:07pm

Migrating to latest version...

SQLite3::exec(): near "COLLATE": syntax error
C:\Users\HP\Documents\PHP_web_sites\bktutor_CodeIgniter4-develop\system\Database\SQLite3\Conne
ction.php - 167
`
Quick and dirty edit t

[2019-03-21 19:36] benedmunds commented on #1270
@robertkendrick thanks for this!  Would you mind sending a PR to the 4 branch with the change? Makes it easier to merge and will track your contribution for the future.

[2019-03-22 11:07] Salman937 opened #1334 "Getting Password_hash() Error on login."
php version: 7.1.22-0

I have recently update ion auth version from 2 to 3. I updated it successfuly when i go to login in dashboard I am getting error "**Message: password_hash(): Invalid bcrypt cost parameter specified: 0**" I saw in database users table the password filed is empty i copied a password and pasted then login successfully when the second i came back and login agian then i saw the p

[2019-03-22 13:09] dualhub commented on #1309
@BartMommens I second Ben's recommendation to either open source or write a blog post about this. I'd be very, very interested to get this working on a project of mine.

[2019-03-22 13:32] BartMommens commented on #1309
@dualhub , i hope i'll find some time during the summer holiday season. The project where i've implemented it is currently in the fridge ( not tested atm :/ )  and swamped with other projects :/.

i hope following info might help you to get started.

Basically after authenticating with ion_auth, i check my database if an account needs 2FA, (simple boolean). you check you current session for anothe

[2019-03-22 14:03] #1334 closed, assigned to nobody

[2019-03-22 14:15] dualhub commented on #1309
@BartMommens Thanks so much for this. Hearing the process in simple terms helps tremendously. I've already bookmarked PHPGangsta's library but it's good to hear that at least I got that bit correct :-).

Take care,

Jim

[2019-03-22 14:25] marios88 commented on #1309
@dualhub aslo check out otphp
https://github.com/Spomky-Labs/otphp

[2019-03-22 18:22] BartMommens commented on #1309
@dualhub if you get stuck or need a second opinion feel free to contact me. Here 2 help 😉

[2019-03-22 20:40] dacalvi commented on #1125
That kind of magic is not the best for the ones that read the code.

[2019-03-31 00:46] fom78 commented on #1191
i very new...but this function for me: (is all right??)

In Auth controller in index i put this:

public function index()
	{
		$logueado=(isset($_SESSION['logueado'])) ? $_SESSION['logueado'] : False;
		if ($this->ion_auth->logged_in() AND $logueado==false)
		{
			$logout = $this->ion_auth->logout();
					}

[2019-03-31 16:11] bvrignaud commented on #1270
@benedmunds It'doesn't work for me.
I have this message :
Could not find a matching version of package benedmunds/CodeIgniter-Ion-Auth. Check the package spelling, your version constraint and that the package is available in a stability which matche
  s your minimum-stability (stable).

[2019-03-31 16:25] bvrignaud commented on #1270
CI team has removed email library from main branch (https://forum.codeigniter.com/thread-72976.html) :-(.
Any idea ?

[2019-04-01 16:51] benedmunds commented on #1270
@bvrignaud try the install again, I added a command for setting up the repo

[2019-04-01 16:52] benedmunds commented on #1270
@bvrignaud as far as email is concerned... maybe we use the one from the feature branch?

[2019-04-01 21:16] pkMyt1 opened #1336 "Branch 4 will not install with composer"
When attempting to install with composer I get this error:
PS C:\Users\g2che\OneDrive\htdocs\TriLIMS> composer require benedmunds/CodeIgniter-Ion-Auth:4.0.0
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation re

[2019-04-01 23:41] benedmunds commented on #1336
Hey I updated the instructions this morning actually, did you run the add repo command first?

[2019-04-01 23:46] pkMyt1 commented on #1336
Yes.  I think the CI folks may have made a name change

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Ben Edmunds <notifications@github.com>
Sent: Monday, April 1, 2019 7:41:59 PM
To: benedmunds/CodeIgniter-Ion-Auth
Cc: Dennis Simpson; Author
Subject: Re: [benedmunds/CodeIgniter-Ion-Auth] Branch 4 will not install with composer (#1336)

Hey I updated the in

[2019-04-01 23:53] benedmunds commented on #1336
Ah gotcha, @bvrignaud think we should use master or develop here?  Master is more stable but fairly out of date atm.

[2019-04-01 23:56] pkMyt1 commented on #1336
Good question. I have been working with the dev branch

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Ben Edmunds <notifications@github.com>
Sent: Monday, April 1, 2019 7:53:47 PM
To: benedmunds/CodeIgniter-Ion-Auth
Cc: Dennis Simpson; Author
Subject: Re: [benedmunds/CodeIgniter-Ion-Auth] Branch 4 will not install with composer (#1336)

Ah gotcha, @bvrignau

[2019-04-03 03:03] BillClinton opened #1337 "Extra chars in group name input field in auth/edit_group"
**Which branch are you using?** 3
**What CodeIgniter version are you using?** v3
**What PHP version are you using?** PHP 7.2.15

**Describe the bug**
They are some stray characters at the end of the group_name input tag when editing groups other than the admin group:

`<input type="text" name="group_name" value="members" id="group_name" =""  />`

This is caused by this code in the edit_group funct

[2019-04-03 14:34] #1337 closed, assigned to nobody

[2019-04-04 08:42] amchicas opened #1340 "Vulnerability : Fail to invalidate session on Password Reset"
Hello there,
I observed that when we change password from password reset form one browser
in place of session Expire from other browser its just update password from
other browser and the old session got updated without being logout
It allows one account to be used with two sessions (different browsers) initiating with two different passwords at the same time.
any advice?

[2019-04-04 11:06] eyounelson commented on #1336
Hi  @benedmunds  I have a fairly similar issue. The message from composer:

[code]
I'm working with CI appstarter beta.1

[2019-04-04 15:40] benedmunds commented on #1340
There's not a great way to do this in realtime without a performance decrease.  The simplest way to do this, off the top of my head, is to store the password hash in the session and check that against the database with a hook in logged_in().

Anyone else feel free to chime in if you've done this before and have a good solution?

[2019-04-04 15:42] benedmunds commented on #1336
Updated CI dependency to dev-master for now

[2019-04-04 15:43] benedmunds commented on #1336
@dot-brainy can you try again please

[2019-04-04 21:13] eyounelson commented on #1336
I was not able to get it to work. Composer returned the same error.
I cloned the git repo instead

It is probably an issue from my PC, because even `composer update` on any project returns some kind of error.

[2019-04-05 13:13] srok opened #1341 "use_ci_email"
Looks like default email config is being overridden when initializing on:
`if ($this->config->item('use_ci_email', 'ion_auth') && isset($email_config) && is_array($email_config))
		{
			$this->email->initialize($email_config);
		}`
In my case, I'm loading the config file like this:
`$config['email_config'] = get_instance()->load->config('email',TRUE);`
instread of
` $config['email_config'] = array

[2019-04-05 14:08] benedmunds commented on #1336
Ah I see, Codeigniter dropped the "4" from their composer package name.  Just pushed a fix.

[2019-04-05 14:15] benedmunds commented on #1341
Why are you loading it that why?  Do you need it returned back or something?

[2019-04-05 15:56] srok commented on #1341
This way I keep the rest of the code unmodified. Otherwise, the rest of the settings present in config/email.php won't be passed to email->initialize

[2019-04-05 15:58] benedmunds commented on #1341
Ah, if you set ```$config['email_config'] = null ``` it should just use your config/email.php settings.

[2019-04-05 16:03] srok commented on #1341
Or maybe the arrays could be merged, overriding config/email.php with $config['email_config']

[2019-04-05 16:17] benedmunds commented on #1341
yea thats a great idea, want to tackle a PR for that?

[2019-04-05 17:46] srok commented on #1341
Ok, no problem.

[2019-04-05 17:47] benedmunds commented on #1341
Awesome, thanks!

[2019-04-05 21:02] pkMyt1 commented on #1336
Still no joy, same error.  When I install Codeigniter4 with Composer I get this in my .jason file:
    "require": {
        "php": ">=7.2",
        "codeigniter4/codeigniter4": "dev-master",

So I think your original name was fine.  I don't know Composer well but where ever it is pulling this line from is likely the problem:
 - benedmunds/codeigniter-ion-auth 4.0.0 requires codeigniter4/framework

[2019-04-08 08:43] imahtsham opened #1344 "Email configuration file does not exist"
**This Github Issue section is meant to track bugs with the library itself**
Please post generic support issues to the CodeIgniter forums or StackOverflow.

After upgrading from version 2 to 3 i am getting this error "The configuration file email.php does not exist" Already Replace the files with the new files. Could you please help me out to figure out this problem. Thanks

[2019-04-08 10:14] reno3131 commented on #1341
I believe this issue is not closed, there is still errors :
I believe this : `$this->email->initialize(array_merge($ci_email_config,(array)$email_config));`
should be : `$this->email->initialize(array_merge($this->config->item('email'),(array)$email_config));`

Otherwise `$ci_email_config` is true, the config was indeed loaded.

Beside, If you set the config/email.php there should be no need to in

[2019-04-08 12:41] srok commented on #1341
Looking at Email library, I guess the original code was just fine. Initialize method is additive, so
`if ($this->config->item('use_ci_email', 'ion_auth') && isset($email_config) && is_array($email_config))
		{
			$this->email->initialize($email_config);
		}`
should work fine. I believe I was having another issue with config

[2019-04-08 14:02] benedmunds commented on #1341
Ah good to know, I'll revert this

[2019-04-08 14:04] benedmunds commented on #1341
@reno3131 can you test now that its reverted?

[2019-04-08 14:04] benedmunds commented on #1344
@ProDev72 this should be fixed now, can you try again?

[2019-04-08 14:10] benedmunds commented on #1336
@pkMyt1 can you make sure you're on the newest code?  The require was changed to ""codeigniter/framework": "dev-master"" so you shouldnt see codeigniter4 in that error.

[2019-04-08 18:19] pkMyt1 commented on #1336
@benedmunds.  I did a fresh install of both the Codeigniter4/appstarter and Codedigniter4/devstarter.  Both give the identical error when attempting to install Ion Auth 4 with Composer.

[2019-04-08 18:57] benedmunds commented on #1336
Hmm looks like the appstarter is using:
[code]
and devstarter is using:
[code]

@pkMyt1 do both of these install fine for you?

[2019-04-08 19:56] pkMyt1 commented on #1336
Yep.  Both install and both give me the welcome page

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Ben Edmunds <notifications@github.com>
Sent: Monday, April 8, 2019 2:57:13 PM
To: benedmunds/CodeIgniter-Ion-Auth
Cc: Dennis Simpson; Mention
Subject: Re: [benedmunds/CodeIgniter-Ion-Auth] Branch 4 will not install with composer (#1336)

Hmm looks like the ap

[2019-04-08 21:12] benedmunds commented on #1336
@pkMyt1 ok cool, I just pushed a change for Ion Auth to match devstarter.  Lmk if that works for you as well please.  Thanks!

[2019-04-09 00:38] pkMyt1 commented on #1336
@benedmunds I need to offer my sincere apologizes.   I forked your repo so I could try some different configs in the composer.json file.  It looks like my changes got pushed through to your repo.  I did not think that was possible.  I will remove my fork now.

[2019-04-09 01:43] benedmunds commented on #1336
@pkMyt1 hey, I'm not seeing any changes, it probably pushed changes to your fork

[2019-04-09 01:46] pkMyt1 commented on #1336
I think I need to get a good sleep and then look at this again.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Ben Edmunds <notifications@github.com>
Sent: Monday, April 8, 2019 9:44:00 PM
To: benedmunds/CodeIgniter-Ion-Auth
Cc: Dennis Simpson; Mention
Subject: Re: [benedmunds/CodeIgniter-Ion-Auth] Branch 4 will not install with composer (#1336)

@pkMyt1<ht

[2019-04-09 11:03] amchicas commented on #1340
I am using the table ci_sessions in the database to save sessions, so I am thinking to add a user_id column and when it is used the reset_password function delete all sessions with the same user_id.

[2019-04-10 10:20] meet06 opened #1345 "if i change version of codeigniter old ion auth give error"
if i change version of codeigniter old ion auth give error

[2019-04-10 10:57] benedmunds commented on #1345
Which version of each? Also please list the previous version you’re upgrading from

[2019-04-13 10:03] romant-1 opened #1346 "Database needs to be explicitly loaded before using Ion Auth3?"
Hi,
I just tried to switch from Ion Auth2 to Ion Auth3 and it looks like the database needs to be loaded first now before loading Ion Auth. If I don't load the database first I get the error message

[code]
Here is the controller:
[code]
It wasn't needed to load the database first and the above code worked fine in Ion Auth2. Has this behavior been introduced deliberately?
Thanks

[2019-04-14 16:42] benedmunds commented on #1346
I don’t believe this has changed between 2 and 3. The example controller for both branches loads the DB before losing Ion Auth.  Can you pinpoint a difference?

[2019-04-15 09:32] romant-1 commented on #1346
Of course it has changed. I'm not talking about the example Auth.php controller - the db has been loaded there first since ever.

I'm talking about the Ion Auth library code itself. With Ion Auth 2 I didn't have to load DB first, with Ion Auth 3 I have to otherwise I get the error mentioned above.

I can see that the Ion_auth_model.php file used to load the DB first but then this has changed - see

[2019-04-15 13:41] benedmunds commented on #1346
Hey sorry, didn't mean to imply that you were incorrect, just asking for help pinpointing this.  It's been years since I wrote/merged this code so don't remember off the top of my head.

I agree with you that if it's an intended effect it should be documented but I need to try to narrow down the change so I can review git history on it.

It looks like the db loading in the model is the same across

[2019-04-15 13:43] benedmunds commented on #1346
My bet is that 2 used to always load it, conditional loading was added to 3, then backported to 2.  Still investigating..

[code]

Ok yea, looks like this is what changed it, and it wasn't changed strictly on purpose:
https://github.com/benedmunds/CodeIgniter-Ion-Auth/commit/c34c939a26f2b9b003c49ad0ce8f6bc673faacf0

[2019-04-15 13:56] benedmunds commented on #1346
@romant-1 I pushed a potential fix for this, can you confirm if it resolves this for you?  https://github.com/benedmunds/CodeIgniter-Ion-Auth/commit/33b797876fb1a96eadef1565f3d259acac012352

[2019-04-16 07:10] romant-1 commented on #1346
Yes, this fixes the issue, thanks.
But hey Ben, don't let me push you fix something that maybe doesn't need to be fixed. If it makes more sense to you to expect that the database has been already loaded then leave it that way and just document it. That would be apparently fine too as otherwise someone would have already complained about this issue but I'm the first one long time after the code has

[2019-04-16 13:28] benedmunds commented on #1346
Oh no worries, this was an unexpected side affect so should be fixed.  It doesn't hurt anything to load the DB twice anyway since CI will return the existing DB if it exists.

Thanks for reporting and testing it!  Take care!

[2019-04-16 13:28] #1346 closed, assigned to nobody

[2019-04-16 13:50] marios88 commented on #1346
@benedmunds
Sorry for the late reply, please have a look at #1258 as this seems to revert it

[2019-04-16 14:00] benedmunds commented on #1346
@marios88 oh thanks for pointing this out!  I completely forgot about this issue...

@romant-1 ok looks like I spoke too soon.  I'm going to revert this change and go with a documentation change instead.  Forgot that CI doesn't reuse connections if they are returned...

[2019-04-19 18:48] pkMyt1 opened #1347 "Empty message call returns error"
**Which branch are you using?**
Branch 4

**What commit hash are you on?**
Attempt updating to the latest commit on your branch.

**What CodeIgniter version are you using?**
v4

**What PHP version are you using?**
PHP 7.2

**Post your Ion Auth config below**
[code]

**Describe the bug**
A clear and concise description of what the bug is.
If a call is made to set an ionAuth message and the message

[2019-04-20 00:12] benedmunds commented on #1347
Are you on the latest version of the 4 branch?  Cause the return type for the messages method is set to string here:
https://github.com/benedmunds/CodeIgniter-Ion-Auth/blob/4/Models/IonAuthModel.php#L2387

[2019-04-20 00:22] pkMyt1 commented on #1347
Yep, on latest version.  I found that block of code.   I wanted to know if there was any reason not to return an empty array instead of an empty string.  The empty string throws an error while the empty array does not.  I tested it and if appears to work with the empty array

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Ben Edmunds <notifications@github.co

[2019-04-20 01:12] benedmunds commented on #1347
messages() should always return a string, even if it's an empty string.  If you want an array back you can use messagesArray() instead.

Here's a link to it:
https://github.com/benedmunds/CodeIgniter-Ion-Auth/blob/4/Models/IonAuthModel.php#L2410

I'm not sure how the code you posted has an array return type though, cause that doesn't match the codebase.  Can you double check that you're on the lat

[2019-04-20 03:42] pkMyt1 commented on #1347
Not a bug, just my addled brain.  I couldn't figure out how to get your message view into my templates so I had changed that to return an array that I can display.  I forgot to document it.

In case I haven't mentioned it, this is an awesome security framework you developed.  I have used it in the past for a LIMS for academic research labs.  I am working on a new version now.  Just a bit rusty wit

[2019-04-20 03:49] benedmunds commented on #1347
No worries!  Definitely keep us informed about your experience using v4, it’s still very new code so any feedback is helpful.

[2019-04-20 03:49] #1347 closed, assigned to nobody

[2019-04-23 22:01] iAdesanyaDaniel opened #1348 "Feature Request: Add Documentation as markdown"

[2019-04-23 22:15] iAdesanyaDaniel commented on #1348
This pull request #1349 closes this issue

[2019-04-23 22:15] #1348 closed, assigned to nobody

[2019-05-08 21:22] chirag00757 commented on #947
Anyone can help me how can I do this in codeigniter 3 without ion auth ? I am managing sessions using database and storing session_id in users table as well but having hard hard time to update regenerated session_id to user table and matching two sessions for authentication.

[2019-05-09 22:30] strzala-dj opened #1351 "Activation email with sprintf(): Too few arguments"
CI v3, PHP v7

I have configured email activation and the email I receive contains errors below.
What might be wrong? I havn't change anything there.

[code]
[code]

[2019-05-10 13:49] benedmunds commented on #1351
Looks like maybe the lang file is missing.  What language are you using?

[2019-05-10 16:25] strzala-dj commented on #1351
I'm using English. Language files are untouched in the language folder.
I have Ion Auth installed into FuelCMS. I'm using it from the Fuel's advanced module and everything works fine, except the content of the email. I have tried with copying language files into my module's language folder, but this didn't work.
How to check where lang() function is looking for the language file?

[2019-05-10 17:38] benedmunds commented on #1351
Add a log or var_dump of the $data array around here to see what variables are passed in to the view:
https://github.com/benedmunds/CodeIgniter-Ion-Auth/blob/3/libraries/Ion_auth.php#L290

[2019-05-10 18:21] imtiaz2564 opened #1352 "Will ion auth work for php 7+ ? library is not loading $this->load->library('ion_auth')"
**This Github Issue section is meant to track bugs with the library itself**
Please post generic support issues to the CodeIgniter forums or StackOverflow.

[2019-05-10 18:27] benedmunds commented on #1352
Yea it works, what PHP and CodeIgniter versions are you running?

[2019-05-10 18:33] imtiaz2564 commented on #1352
PHP 7.2  and CI 3.1, getting following error while loading the library in controller
A PHP Error was encountered
Severity: Notice

Message: Undefined property: Master::$db

Filename: models/Ion_auth_model.php

Line Number: 212

[2019-05-10 18:35] benedmunds commented on #1352
Make sure you’re loading the database before loading Ion Auth

[2019-05-10 22:28] strzala-dj commented on #1351
[code]

[2019-05-11 14:14] benedmunds commented on #1351
Hmm ok so it has data, definitely seems like the Lang isn’t loading.

In this view, or in the controller, dump the lang() calls here and see what’s returning: https://github.com/benedmunds/CodeIgniter-Ion-Auth/blob/255c3dac483d57f9caf0946b8d9cfbbc57ffdfff/views/auth/email/activate.tpl.php#L3

[2019-05-11 20:35] strzala-dj commented on #1351
I have found the reason and solution.
In FuelCMS the `lang()` overwrites the CodeIgniter `lang()` function to provide the added benefits of passing arguments to your language files (uses `sprintf()` function). So f.ex. line 3 should looks like this:
`<h1><?php echo lang('email_activate_heading', $identity);?></h1>`

I have made several tests to check lang files and functions operating with activat

[2019-05-11 21:56] benedmunds commented on #1351
Can you post your english lang files?  This is odd..

[2019-05-12 18:08] strzala-dj commented on #1351
Here you go.
This Ion Auth's files are inside FuelCMS lang folder (../public_html/site_main_folder/fuel/application/language/english):
[lang_files.zip](https://github.com/benedmunds/CodeIgniter-Ion-Auth/files/3170384/lang_files.zip)
This one is my site's file inside advanced module lang folder (../public_html/site_main_folder/fuel/modules/advanced_module/language/english):
[assessments_lang.zip](h

[2019-05-13 14:19] benedmunds commented on #1351
@strzala-dj oh I completely missed your note before about Fuel overriding the lang function!  Ok that definitely makes sense now.  Thanks for this.  I'm going to repost it below before closing for any future users to easily reference:

**Solution:**
In **FuelCMS** the lang() overwrites the CodeIgniter lang() function to provide the added benefits of passing arguments to your language files (uses s

[2019-05-13 14:19] #1351 closed, assigned to nobody

[2019-05-16 09:37] debasism2014 commented on #892
Hello How can solve this problem? Please Help me.
An uncaught Exception was encountered
Type: RuntimeException

Message: Unable to locate the model you have specified: Login_model

Filename: /var/www/html/abc/system/core/Loader.php

Line Number: 348

Backtrace:

File: /var/www/html/abc/application/controllers/Main.php
Line: 11
Function: __construct

File: /var/www/html/abc/index.php
Line: 315
Func

[2019-05-16 13:38] benedmunds commented on #892
@debasism2014 Ion Auth doesn't include a "Login_model".  I'd recommend posting on either the CI forums or StackOverflow for help with general CodeIgniter development.

[2019-05-17 05:58] tpw1314 commented on #892
Yes indeed I dont remember having a model file like that when I first started to use IonAuth 3 back in those days. IonAuth starts with library only. Unless they are talking about the samples codes ?

[2019-05-29 10:55] milad86 opened #1353 "" Remember me " Security .. ?!"
Hello ,
first of all, thanks for your great job.

a question please..
how would the Remember me work ? with SESSIONS? Cookies ?? what kind of info is stored client side ? what encryption is used for that ?
how safe is it regarding storing user's log in credentials on client side ??

[2019-05-29 11:01] milad86 commented on #1353
$this->ion_auth->logged_in()   it always returns true .. even if browser is closed

[2019-05-29 13:21] milad86 opened #1354 "Resending activation email"
Hello,

regarding activation email, how can we resend it ?
for example to allow a user to click a link to have the activation email sent again ??

[2019-05-29 13:57] benedmunds commented on #1353
It uses a combination of a client side cookie and a hash in the user table.  You can find the code here:
https://github.com/benedmunds/CodeIgniter-Ion-Auth/blob/3/models/Ion_auth_model.php#L1995

[2019-05-29 13:57] #1353 closed, assigned to nobody

[2019-05-29 14:10] benedmunds commented on #1354
There's no built in way to resent it but you could write a controller method to do it, you can find the logic here:
https://github.com/benedmunds/CodeIgniter-Ion-Auth/blob/255c3dac483d57f9caf0946b8d9cfbbc57ffdfff/libraries/Ion_auth.php#L299

If you wanted to abstract this out so resends are possible I'd be happy to consider a PR for that.

[2019-05-29 14:10] #1354 closed, assigned to nobody

[2019-05-29 14:42] ronaldaraujo commented on #1352
Hello.

Running the application in PHP 7.3 the `logged_in()` method always returns NULL even if the login is correctly performed.

[code]

It is as if the application is no longer defined as the identity variable in:

[code]

I need help resolving this. Thank you very much.

[2019-05-29 14:44] benedmunds commented on #1352
@ronaldaraujo what version of CI are you using?

Also can you post your Ion Auth and CI configs

[2019-05-29 14:48] ronaldaraujo commented on #1352
@benedmunds, these are my versions:

CI_VERSION: 3.1.0
Ion Auth: 2.5.2

[2019-05-29 14:54] benedmunds commented on #1352
@ronaldaraujo is it possible for you to upgrade to Ion Auth 3? v2 is pretty old at this point

[2019-05-29 14:55] ronaldaraujo commented on #1352
Okay. I'll update.

[2019-05-29 15:20] ronaldaraujo commented on #1352
@benedmunds

Unfortunately I did not succeed. I did the following:

1. Executed the migration file (migrate.postgre.sql);
2. I copied the contents of the config/ion_auth.php file keeping my existing values settings;
3. I copied the contents of the libraries/Ion_auth;
4. I copied the contents of the models/Ion_auth_model;

Did I forget something?

To contextualize.

After login, I send the user to

[2019-05-29 16:04] benedmunds commented on #1352
Are things working in general after the upgrade?  Here are the full upgrade instructions (just in case): https://github.com/benedmunds/CodeIgniter-Ion-Auth/blob/3/UPGRADING.md#upgrading-from-ion-auth-2

Post your CI and Ion Auth configs, this seems like a session issue.  Might be worth upgrading to the latest version of CI 3, there have been a few session related bugs in the past but I don't remem

[2019-05-29 17:53] ronaldaraujo commented on #1352
@benedmunds, your suggestion to update CodeIgniter worked. Thank you very much.

[2019-05-29 18:08] benedmunds commented on #1352
Awesome, glad to hear that!

[2019-05-29 18:08] #1352 closed, assigned to nobody

[2019-06-03 14:40] ErwinSavedTest opened #1355 "Is it support for multiple user auth ?"
how do I log in with different accounts with different routes ? there is only one methd is_admin() how make new one ?

[2019-06-03 14:41] benedmunds commented on #1355
The in_group() method allows you to check other groups:

http://benedmunds.com/ion_auth/#in_group

[2019-06-03 22:22] ErwinSavedTest commented on #1355
Thank you so much for your help. You are a great person

[2019-06-03 23:16] benedmunds commented on #1355
:) thanks! Take care!

[2019-06-03 23:16] #1355 closed, assigned to nobody

[2019-06-12 05:18] afagard commented on #1340
Whether or not you change the password, if the session is valid and hasn't been invalidated you'll still have access in the browsers where the sessions aren't expired. To me I don't find it much of a security risk. Google and Facebook allow multiple sessions on different devices. Although having 1 allowable session per user is an interesting thought - I think in the end it would be more trouble th

[2019-06-12 05:25] afagard opened #1357 "reset password page has errors when key is incorrect (doesn't fail gracefully)"
After updating to the latest version I noticed that the reset password page no longer works properly when the key provided is incorrect. Test key = 123123 e.g. /auth/reset_password/123123

We now fail with `Trying to get property 'selector' of non-object` and `Trying to get property 'validator' of non-object`

The issue is that:

[code]

doesn't check if the `$token` is false before accessing the

[2019-06-12 13:50] benedmunds commented on #1357
Thanks for reporting this!  Interested in submitting a PR? If not I can throw it in a commit.

[2019-06-12 13:53] benedmunds commented on #1340
I agree with @afagard and this is why we've never tried to implement this.  I've done plenty of HIPAA safe and apps for large security focused enterprises with this not being an issue.

Not saying there's never a reason for this but I would recommend pushing back on why you're being asked to do this before throwing a lot of time in to it.

[2019-06-13 05:04] afagard commented on #1357
My knowledge of git is limited to downloading unfortunately. I really need to learn more about pull requests and such but I code more as a hobby.

[2019-06-13 05:04] #1357 closed, assigned to nobody

[2019-06-18 17:16] Measne opened #1358 "strpos(): Non-string needles will be interpreted as strings in the future. Use an explicit chr() call to preserve the current behavior"
**Which branch are you using?**
2/3/4 (branch used should match CodeIgniter version)

**What commit hash are you on?**
Attempt updating to the latest commit on your branch.

**What CodeIgniter version are you using?**
v2/v3/v4

**What PHP version are you using?**
PHP 5.4/5.6/5.7/7.0/etc

**Post your Ion Auth config below**
[code]

**Describe the bug**
A clear and concise description of what the bu

[2019-06-18 17:19] benedmunds commented on #1358
Looks like the needles we're using are strings.  So this shouldn't cause any issues.

Am I missing something here?

[2019-06-18 17:42] Measne commented on #1358
Filename: MX/Router.php

Line Number: 239

Backtrace:

File: C:\xamppx\htdocs\wedian\application\third_party\MX\Router.php
Line: 239
Function: strpos

File: C:\xamppx\htdocs\wedian\application\third_party\MX\Router.php
Line: 72
Function: set_class

File: C:\xamppx\htdocs\wedian\index.php
Line: 315
Function: require_once

[2019-06-18 17:48] benedmunds commented on #1358
Those files aren't a part of Ion Auth.  Maybe you meant to report this to CodeIgniter?  Closing issue for now.

[2019-06-18 17:48] #1358 closed, assigned to nobody

[2019-06-25 10:12] aryaei2000 commented on #1270
Hi,

Once I try installing Ion Auth 4 via composer, I get this error:
[code]
I noticed in composer.json file the requirement is set like this:
`     "codeigniter4/codeigniter4": "dev-master"`

While on packagist the name is different:
`         "codeigniter4/codeigniter4-standard": "^1.0",
`

[2019-06-25 10:17] bvrignaud commented on #1270
This are 2 differents packages :
codeigniter4/codeigniter4 != codeigniter4/codeigniter4-standard

[2019-06-25 10:21] aryaei2000 commented on #1270
So how come I can not find it on packagist?

[2019-06-29 05:30] AlokInsan commented on #947
Hi avenirer sir,
                       Thanks for a brilliant answer in ion auth library.

[2019-06-29 13:42] AlokInsan opened #1359 "it is possible to register user without login in ion auth latest and CI 3.1.10"
**it is possible to register user without login in ion auth latest and CI 3.1.10**
Creating user without login auth/create_user function throwback to login page.
But i have to do this....Please help me sir.

[2019-06-29 17:30] sanjay7m opened #1360 "Old users not able to login after migrating the ion-auth to latest version."
Hi @benedmunds
I have a problem or question i have migrated the codeginiter and ion-auth to the latest version . The old version was using th sha1 . Now the problem is after upgrading the old users in the system are not able to login. But if i register a new user that is able to login. Do i need to add some logic to migrate old users or it should be automatic. As suggested in the upgrading.md file

[2019-07-01 03:41] benedmunds commented on #1359
Feel free to change the controller to match your needs.  It’s just there as a starting place for your business logic.

[2019-07-01 05:25] AlokInsan commented on #1359
ok sir, but  it works after hiding first if condition in create_user function.
     public function create_user()
	{
		$this->data['title'] = $this->lang->line('create_user_heading');

         /*   if (!$this->ion_auth->logged_in() || !$this->ion_auth->is_admin())
		{
			redirect('auth', 'refresh');
		}    */
          ...
          .....
          ....
       }

[2019-07-01 15:37] benedmunds commented on #1359
Yea that change is fine.  In the example controller only admins are allowed to create users.  This change would be it publicly available. Which is fine if that’s how your app needs to work.

Take care!

[2019-07-01 15:37] #1359 closed, assigned to nobody

[2019-07-01 15:46] AlokInsan commented on #1359
Ok Thanks a lot sir....

[2019-07-01 16:02] benedmunds commented on #1360
Hey,

There is logic to check for SHA1 passwords on login and if they are correct to upgrade the hash and login the user.

You may need to troubleshoot a bit to identify the issue.  Can you post your old and new Ion Auth config files please.

FYI here is the SHA1 upgrade logic:
https://github.com/benedmunds/CodeIgniter-Ion-Auth/blob/3/models/Ion_auth_model.php#L332

https://github.com/benedmunds/C

[2019-07-01 20:21] fdemir opened #1361 "How can i identify two unique column?"
I want to identify two unique identity column like username and email. I set username as a unique. But i want to set also email. I cant identify two unique column.

[2019-07-01 21:30] benedmunds commented on #1361
Are you trying to enforce this in sql or what have you tried so far?

[2019-07-02 08:15] fdemir commented on #1361
So i want to get errors from ion auth. Like "this username already used" and "this email already used".  Both of email and username. But i can in this ion auth only i can set one unique column.

[2019-07-02 14:08] benedmunds commented on #1361
The best way to do that would be adding form validation for is_unique to both.  Here's an example of that for email (you can do it to both fields):

https://github.com/benedmunds/CodeIgniter-Ion-Auth/blob/3/controllers/Auth.php#L480

[2019-07-02 14:52] fdemir commented on #1361
Thx @benedmunds

[2019-07-02 14:52] #1361 closed, assigned to nobody

[2019-07-02 15:31] sanjay7m commented on #1360
Hi sir this is the old one
===============================================================================]
	$config['tables']['groups']          = 'groups';
	$config['tables']['users']           = 'users';
	$config['tables']['users_groups']    = 'users_groups';
	$config['tables']['login_attempts']  = 'login_attempts';
	$config['tables']['entity_types']    = 'entity_types';

    /**
	 * Hash Metho

[2019-07-02 15:33] sanjay7m commented on #1360
$config['database_group_name'] = '';

/*
| -------------------------------------------------------------------------
| Tables.
| -------------------------------------------------------------------------
| Database table names.
*/
$config['tables']['users']           = 'users';
$config['tables']['groups']          = 'groups';
$config['tables']['users_groups']    = 'users_groups';
$config['tables'][

[2019-07-02 16:49] benedmunds commented on #1360
Please add the following to your new config and try again:

[code]

[2019-07-02 17:06] sanjay7m commented on #1360
It worked . Thanks sir.

[2019-07-02 17:06] benedmunds commented on #1360
Awesome! Take care!

[2019-07-02 17:06] #1360 closed, assigned to nobody

[2019-07-05 22:46] rohjay commented on #1191
JIC anyone else gets here like I did, I found a solution that seems to work for me on stack overflow: https://stackoverflow.com/questions/13738833/codeigniter-ion-autho-logout-session-error/14200981

By doing a `->logged_in()` check first, that seems to iron it out:
[code]

Hope that helps someone else =]

[2019-07-05 22:53] krisnawar commented on #1191
I haven't tried it yet. The problem occure when I'm in the logged in condition, for a long time, and do nothing
Not sure if I have to wait 15, 30 minute or longer.

[2019-07-08 11:19] aryaei2000 commented on #1270
Any solution on this?

[2019-07-08 13:40] benedmunds commented on #1270
@aryaei2000 I just pushed an update that has CodeIgniter's current namespacing/package name.  Can you pull and try again please.

[2019-07-12 09:34] aryaei2000 commented on #1270
@benedmunds  Thanks for the update.

But the problem seems to persist. Here is the error I get.

`./composer.json has been updated
Loading composer repositories with package information            Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for benedmunds/codeigniter-ion-auth 4.0.0

[2019-07-12 16:37] benedmunds commented on #1270
Been debugging this, if you do a git pull and composer install from the codebase it will work now.  Requiring it based on the tag is still broken, I'll work on it more next week.

[2019-07-14 13:51] xiarahman commented on #575
Did anything happened to this integration?

[2019-07-14 15:27] Venefilyn commented on #575
@xiarahman nothing came out of it, I didn't have time to redesign it at the time. After the rewrite/redesign of this repo it became even more difficult to do

[2019-07-15 17:06] benedmunds commented on #1270
@arif2009 figured it out.  Try these updated install instructions:

[code]

[2019-07-17 00:29] aryaei2000 commented on #1270
@benedmunds checked it and it works. Thanks.

[2019-07-18 18:43] EzraZebra opened #1362 "Model: time() => now() ?"
In Ion Auth 3, the model uses PHP's native `time()` and not CI3's `now()`.
Changing it would probably improve compatibility for those who have changed 'time_reference' in CI3's config and are using the Date Helper.
The date helper is already being loaded in the Ion Auth model anyway.

[2019-07-18 18:47] benedmunds commented on #1362
I'm not against this change, although I haven't seen any other reports of it causing issues so likely a low priority.

Want to submit a PR for it?

[2019-07-18 18:50] EzraZebra commented on #1362
Sure, I'll submit it in a minute.

[2019-07-18 19:34] EzraZebra commented on #1362
On second thought, time() is timezone independant, whereas now() is not.
Changing it may cause unexpected results if the user isn't aware that now() is being used?

[2019-07-19 12:45] ct0182 opened #1364 "Message: Class 'CodeIgniter\Controller' not found"
I've had a go installing IonAuth 4.0.3 with CI 3.1.10.
Are the two versions compatible?

It's installed into the 3rd party setup as set out within installing.md. It is also being autoloaded within the autoload.php file.

I get the following error.

[code]

[2019-07-19 12:47] ct0182 commented on #1364
I'm assuming V2.6.0 works with CI V3 and V4 only works with CI V4?

[2019-07-19 13:05] benedmunds commented on #1364
Correct. V2 of Ion Auth is meant to go with v2 of CI, same with v3 for CI3 and v4 for CI4.

I’d recommend using the latest commit from the associated branch instead of the tags, they get outdated quickly.

[2019-07-19 13:05] #1364 closed, assigned to nobody

[2019-07-23 16:26] datamweb commented on #1270
Hi,I struggled to install the Ion-Auth 4 .
CI version: 4.0.0-beta.3
Ion-Auth version: 4.0.3
I tried to install it manually but from the following page request:
http: //localhost/daminP/public/index.php/auth
The following error is displayed.
**404 - File Not Found
Controller or its method is not found: App \ Controllers \ Auth :: login**
How can I fix this problem?

[2019-07-23 16:29] benedmunds commented on #1270
@datamweb can you post your directory structure?

[2019-07-23 16:52] datamweb commented on #1270
[code]

[2019-07-23 17:21] benedmunds commented on #1270
@bvrignaud any ideas here?

[2019-07-28 15:21] bvrignaud commented on #1270
What's the namespace of your Auth controller ?
It must be "namespace App\Controllers;"

[2019-07-30 09:18] datamweb commented on #1270
Hi @bvrignaud. Well I've used the default files unchanged.
Now, I changed the `namespace IonAuth\Controllers;` to `namespace App\Controllers; `but the following text is displayed:
**Whoops!
We seem to have hit a snag. Please try again later...**

[2019-07-30 14:30] bvrignaud commented on #1270
Can you add this line to your .env file : "CI_ENVIRONMENT = development" ; to have more information please.
What is your CI version ?

[2019-07-30 19:10] datamweb commented on #1270
@bvrignaud ,
**CI V:** 4.0.0-beta.3 and 4.0.0-beta.4
**Ion-Auth V :** 4.0.3
I also test at localhost.
In the development mode shown below:
**APPPATH/Controllers\Auth.php at line 73**
[code]

[2019-08-02 11:58] vladimirhacker opened #1371 "Error in query (1215): Cannot add foreign key constraint"
**Which branch are you using?**
2/3/4 (branch used should match CodeIgniter version)
3

**What commit hash are you on?**
Attempt updating to the latest commit on your branch.

**What CodeIgniter version are you using?**
v2/v3/v4
3
**What PHP version are you using?**
PHP 5.4/5.6/5.7/7.0/etc
 [not important]
[code]
Config goes here [not important]
[code]

[2019-08-02 13:28] benedmunds commented on #1371
Please try running the SQL commands one at a time and let me know which one is triggering this error.

[2019-08-03 10:16] sanjay7m opened #1372 "Password reset not working ."
When requesting the reset password email, then clicking link, then resetting password and submitting, on line 310 of controllers/Auth.php where it looks for
// do we have a valid request?
if ($this->_valid_csrf_nonce() === FALSE .... it IS False
and throws the 404 error as show_404(); is called here. After testing it seems the flashdata is not saving the session for the request.

[2019-08-03 11:57] benedmunds commented on #1372
What CI version are you using?

What Ion Auth branch?

Are you having session/flashdata issues anywhere else on your site?

Have you changed the example controller at all?  You’ll need a new request after setting the flashdata, it’s not available immediately in the same request.

[2019-08-03 13:34] sanjay7m commented on #1372
Ci version 3.10
 Ion Auth branch is latest.
session/flashdata issue not other places.only here.

[2019-08-03 16:51] sanjay7m commented on #1372
The interesting fact is i have there testing env. And one prod. The two testing and prod have the ci 2.1.1. And one testing have the new ci 3.x and latest ion auth. The only one on the production(2.x) works and no other works.

[2019-08-04 06:22] BartMommens commented on #1191
Hi Guys,

I have found a somewhat somewhat same issue.
I've been trying to get as much data as possible about the issue.
So basically my session settings are the following:

$config['sess_expiration'] = 7200;
$config['sess_time_to_update'] = 300;
$config['sess_regenerate_destroy'] = FALSE;

I logged in used my app in a normal way for 10 min. and logged out, all went like expected.

The problem occ

[2019-08-05 13:24] benedmunds commented on #1372
So the same version of Ion Auth and CI work on your production env but not on your testing env?

Are those different servers?

[2019-08-05 13:47] sanjay7m commented on #1372
Yes

On Mon, Aug 5, 2019, 6:55 PM Ben Edmunds <notifications@github.com> wrote:

[2019-08-05 13:49] benedmunds commented on #1372
Sounds like a possible server or config issue.  Maybe something with the cookie settings?  Can you verify they are using the exact same PHP/CI/Ion Auth versions?

[2019-08-05 13:58] benedmunds commented on #1191
@BartMommens are you redirecting after logout and before checking the session data?  CI sessions don't update in realtime, you'll need a redirect for them to take effect.

[2019-08-05 15:20] sanjay7m commented on #1372
Yes both the testing server and prod are using the same php/ci/ion auth versions.

[2019-08-05 15:50] bvrignaud commented on #1270
@datamweb
I use '4.0.0-alpha.4'. It's an old one.
When I started to port IonAuth to CI4, there was an Email library based on the old one, but since few month, CI concil have decided to remove the email library, until they have a modern one.
So actually, I don't know how to provide IonAuth for newest CI with email support.

Have you try to add this line to your .env file : "CI_ENVIRONMENT = develop

[2019-08-05 18:53] bgougent opened #1373 "Change email adres like tESt@gmail.com to test@gmail.com not working"
Mentioned by a user - it's not a big deal but don't find it in the code why this behavior is.

She tried to change from LucZomergem@gmail.com  to luczomergem@gmail.com. It does not work.
With an extra step one can change the email
LucZomergem@gmail.com -> LucZomergem@gmail.co ->luczomergem@gmail.com.

I know that email will work with the capitals - just a technical question.

All email's are not r

[2019-08-05 19:12] benedmunds commented on #1373
It's because we're checking to make sure that a user doesn't exist with the email already when a user tries to change their email: https://github.com/benedmunds/CodeIgniter-Ion-Auth/blob/3/models/Ion_auth_model.php#L1784

I'm not sure the best way to solve this really...  Maybe add a strtolower comparison and allow the change if it's the same email address.

[2019-08-06 07:24] BartMommens commented on #1191
@benedmunds Yes i am redirecting the users right after the logout function is being called. I'm currently checking if could be something host related. I_'ve read about some shared hostings having bad configurations causing some problems with sessions. I'm going to switch to Database sessions in codeigniter this weekend if it changes something._

Thanks for your feedback.

*Update, switched to data

[2019-08-06 08:23] BartMommens commented on #1191
Sorry if you might of got spammed on that reply but i had an issue met my browser :/

[2019-08-06 13:18] benedmunds commented on #1191
Hmm. I'm not against changing the code here but I am worried about changes breaking it for the users that are currently working ok.  Maybe check to see if the session is timed out being recreating it?  or any other ideas for something that would work?

The only reason we're recreating the session is for flashdata I believe... Maybe we should remove that in general for logging out.

[2019-08-06 14:27] BartMommens commented on #1191
You are absolutely right on the code rewrite.

When you are logging out i don't see much added value of presenting flashdata. I think having to press the logout button twice is a far worse user experience than not having a message like "You logged out successfully".

I've noticed that CI3 stores some additional data in the session : __ci_last_regenerate|i:1565080070;  and last_check|i:1565080070;.

[2019-08-06 16:21] benedmunds commented on #1191
I'm leaning towards removing the recreation of the session and removing the flashdata on logout.  It's pretty obvious that the logout worked since you land on the login page.

Anyone have any objections?

[2019-08-06 16:27] bvrignaud commented on #1191
Ok for me.

I have no really objection, but in my experiences, I have many sites that use your library, and all works fine.
Strange.

[2019-08-06 16:53] Pitttt commented on #1191
I was having this issue too but I think now it's solved with the solution from @rohjay

[2019-08-06 19:37] spitfire64 commented on #1191
OK for me.

[2019-08-07 18:52] benedmunds commented on #1191
Pushed 77591670ca95bd2c02c217370ee3bcfbf1f45000

@BartMommens can you try this again?

[2019-08-07 18:53] benedmunds commented on #1372
Can you post the CI and Ion Auth config from both the working server and the failing server?

[2019-08-07 20:08] BartMommens commented on #1191
@benedmunds I just did a local and production environment, everything seems to be working fine. The issue did not present itself anymore. @krisnawar, @Pitttt Does the latest pushed version solve you issue as well? @Pitttt try testing it without the solution from @rohjay.

I'm calling it a night for today i will do some additional test tomorrow, as far as i can tell the removal of the regeneration

[2019-08-09 04:45] vasiyanigm opened #1374 "My web Admin Pannel not login in Codeigniter"
My web Admin Pannel not login in Codeignite, How to solve this Problem ?

[2019-08-09 07:26] BartMommens commented on #1191
@benedmunds I ran a few tests and none of them presented the "issue" again.
Everything works as expected!

Thank you for this update.

[2019-08-09 12:55] benedmunds commented on #1191
Awesome, thanks @BartMommens !  I'll go ahead and close this issue.

[2019-08-09 12:55] #1191 closed, assigned to nobody

[2019-08-09 13:47] benedmunds commented on #1374
I'll need more information.

Are you using Ion Auth?  What errors/issues are you getting?

[2019-08-14 17:22] sanjay7m commented on #1372
ci config for dev server
/*
|--------------------------------------------------------------------------
| Application Settings
|--------------------------------------------------------------------------
*/
$config['app_name']       = 'GIVINGtrax&trade;';
$config['app_path']       = 'dir/';
$config['is_dev']         = false;
$config['paginate_pages'] = 5;
$config['content-bg']     = 'images/mktg/gr

[2019-08-14 17:23] sanjay7m commented on #1372
ion auth test
/**
	 * Tables.
	 **/
	$config['tables']['groups']          = 'groups';
	$config['tables']['users']           = 'users';
	$config['tables']['users_groups']    = 'users_groups';
	$config['tables']['login_attempts']  = 'login_attempts';
	$config['tables']['entity_types']    = 'entity_types';

    /**
	 * Hash Method  (sha1 or bcrypt)
	 *
	 * Bcrypt is available in PHP 5.3+
	 *
	 * IMPO

[2019-08-14 17:28] sanjay7m commented on #1372
Prod ci config
===================
/*
|--------------------------------------------------------------------------
| Application Settings
|--------------------------------------------------------------------------
*/
$config['app_name']       = 'GIVINGtrax&trade;';
$config['app_path']       = 'app/';
$config['is_dev']         = false;
$config['paginate_pages'] = 5;
$config['content-bg']     = 'imag

[2019-08-14 17:29] sanjay7m commented on #1372
Ion auth prod
===================================
	/**
	 * Tables.
	 **/
	$config['tables']['groups']          = 'groups';
	$config['tables']['users']           = 'users';
	$config['tables']['users_groups']    = 'users_groups';
	$config['tables']['login_attempts']  = 'login_attempts';
	$config['tables']['entity_types']    = 'entity_types';

    /**
	 * Hash Method  (sha1 or bcrypt)
	 *
	 * Bcrypt

[2019-08-14 18:10] benedmunds commented on #1372
Well this all looks OK.  Can you try a couple browsers and see if you get consistent results?

[2019-08-15 17:17] sanjay7m commented on #1372
I tested in crome, firefox, sfari and ie all are returning the 404.

[2019-08-15 22:22] benedmunds commented on #1372
Try commenting out / bypassing the Ion Auth CSRF checks and use the CI CSRF instead:
https://www.codeigniter.com/user_guide/libraries/security.html#cross-site-request-forgery-csrf

[2019-08-19 11:23] sanjay7m commented on #1372
I have tried the ion auth csrf and enabled ci csrf it is working. But this is a very big change because i have about 180 forms and many ajax request . So need to altered all if ion Auth one csrf does not work.

[2019-08-19 14:03] benedmunds commented on #1372
I really have no idea why the Ion Auth CSRF wouldn't work in this one use case on some of your servers and not others.

You could dynamically set the CI config to use CI CSRF for the password reset but not on the other forms.

Anyone else have any ideas?  Has anyone else seen anything like this before?

[2019-08-19 14:43] sanjay7m commented on #1372
Thanks sir giving your time. It seems the template is creating the problem.I have not used  external. I have just wrapped header and footer in each page. If i remove these the form work perfectly.

[2019-08-19 14:57] benedmunds commented on #1372
Ah ok good, glad you figured it out!  Take care!

[2019-08-19 14:57] #1372 closed, assigned to nobody

[2019-08-20 13:27] benedmunds commented on #1270
Email lib is back for CI4 🎉

https://github.com/codeigniter4/CodeIgniter4/pull/2092

/cc @bvrignaud

[2019-08-20 13:31] bvrignaud commented on #1270
Great news.

I will work on it as soon as possible.

If somebody is free to work on it, go one, I'm so busy actually.

[2019-09-04 09:48] gesmit commented on #1336
Can't install using composer on rc1 ( "codeigniter4/framework": "^4@rc" )

[2019-09-04 13:34] benedmunds commented on #1336
@gesmit doesn't look like CI has an RC branch/tag so I guess you'll need the full tag.  Try this:

[code]

[2019-09-11 09:49] barentshavet commented on #1336
I have the same issues as above.

What is the solution on this?

[2019-09-11 13:19] benedmunds commented on #1336
@sigveringseth what issue are you seeing exactly?

[2019-09-20 11:45] muhammedsafeero commented on #1055
Can't load the ion_auth library by using `$autoload['libraries'] = array('ion_auth');`, when Installing Ion Auth by using **third_party** structure.

It will cause
`A PHP Error was encountered
Severity: Notice

Message: Undefined property: Controller_name::$db

Filename: models/Ion_auth_model.php

Line Number: 212`

So should use `$this->load->library('ion_auth');` to load library on both `$autolo

[2019-09-21 17:18] benedmunds commented on #1055
@muhammedsafeer thanks for sharing.  Would you mind submitting a PR with a documentation update on how to do this.

[2019-09-25 11:57] gpdas1 commented on #1250
Hi Ben
Can you please tell where from I get this error. This is observed after
changing the app to a new server
The screen-shot attached herewith for your reference.

On Wed, Oct 24, 2018 at 8:12 PM Ben Edmunds <notifications@github.com>
wrote:

--

*G. P. DasBhubaneswarMobile: 9437025000*

[2019-09-25 13:45] benedmunds commented on #1250
@gpdas1 can you try uploading the screenshot to GH again, I’m not seeing it

[2019-09-25 15:07] gpdas1 opened #1375 "Forgot_Password link is showing error"
**This Github Issue section is meant to track bugs with the library itself**
Please post generic support issues to the CodeIgniter forums or StackOverflow.
Recently I changed my Ubuntu 16.04 server from one machine to another. Then Forgot Password link is showing error.
![emailError](https://user-images.githubusercontent.com/4804013/65613779-221e9080-dfd4-11e9-8b96-4d5c4950ac49.PNG)
![emailError](

[2019-09-25 15:09] benedmunds commented on #1375
This isn't an Ion Auth issue.  It's an issue with your email setup.

My guess would be that either your Google SMTP needs a different setting or your server doesn't support the SSL that Google requires.

[2019-09-25 15:09] #1375 closed, assigned to nobody

[2019-09-25 15:09] gpdas1 commented on #1250
I have uploaded in GitHub

On Wed, Sep 25, 2019 at 7:15 PM Ben Edmunds <notifications@github.com>
wrote:

--

*G. P. DasBhubaneswarMobile: 9437025000*

[2019-09-26 01:21] muhammedsafeero commented on #1055
Your welcome @benedmunds, and I will try to submit PR but only after confirm that it is a error free method that I follow.

[2019-09-30 08:52] hasan-almujtaba commented on #1055
what should i do if i want to load this library on autoload?
i have tried this on autoload.php

`$autoload['packages'] = array(APPPATH.'third_party/ion-Auth');`

[2019-09-30 13:15] benedmunds commented on #1055
@Hasan-Almujtaba autoloading third party packages doesn’t seem to work in CodeIgniter.  I’ve seen complaints about this for awhile now.  One workaround that people use is to create another class, auto load that, and it’s only job is to loading in the third part class.

[2019-10-02 21:34] blaasvaer opened #1376 "What is the algorithm for changing password directly in phpmyadmin?"
I'm repairing and old CI app ... and need to recover (change) the password directly in the DB to get access to the system again. Now WHAT is the default algorithm I should select for storing a new password?

[2019-10-02 21:44] benedmunds commented on #1376
You cant do it directly in the DB since it's BCrypt by default.  Either copy the default password from https://github.com/benedmunds/CodeIgniter-Ion-Auth/blob/3/sql/ion_auth.sql#L63 or generate a new password hash via the library and manually update the DB.

[2019-10-02 21:44] #1376 closed, assigned to nobody

[2019-10-05 14:53] federicovilla opened #1377 "Switch ashing method from bcrypt to Argon2"
First of all sorry if this isn't the correct section to post my question.
Since I have updated my PHP server to 7.2 I'd like to switch the Ion Auth ashing method from the actual bcrypt to Argon2; I'm wondering if I could get in trouble with the already registered users since their passwords are ashed using bcrypt.
Thanks a lot for any help

[2019-10-05 20:25] benedmunds commented on #1377
This shouldn't cause any issues.  What will happen is that as users with the old hash login they'll be rehashed and saved as Argon2.

[2019-10-05 20:25] #1377 closed, assigned to nobody

[2019-10-05 20:25] benedmunds commented on #1377
Do let me know if you run into any issues though!  I haven't used Argon2 yet myself.

[2019-10-09 22:36] oasin opened #1378 "Implementing with Google Authenticator PHP"
How can i make use of the Google Authenticator library with IonAuth?

Few steps and methods can help..

[2019-10-10 06:28] marios88 commented on #1378
I used https://github.com/Spomky-Labs/otphp
then you can use any compatible app to generate one time passwords

Implementation depends on what you want to accomplish , but the necessary
steps are
Generate & Store OTP generator string in DB
Present the user with the QR code

When you want (e.g. login, delete account ) check against it to authenticate

On Thu, Oct 10, 2019 at 1:36 AM oasin <notifica

[2019-10-10 08:23] oasin commented on #1378
Did you try with ionAuth?
 how? because am new to it an example please

[2019-10-10 09:54] marios88 commented on #1378
Cant provide a working example but the following code will give you the gist

[code]
`otp` is a simple wrapper library for `otphp`
I chose to do 2FA auth before checking for password

[2019-10-11 13:21] oasin commented on #1378
Thanks anyway but still didn't get it done

[2019-10-15 21:03] doudouPremium commented on #1246
hi @anand1100,
can you help me with how to use PHPMailer to solve the probleme ?
thank you!

[2019-10-16 08:50] oasin commented on #1309
@BartMommens Can you share how you got this done?

[2019-10-17 09:41] BartMommens commented on #1309
@oasin unfortunately i'm unable to share the code since the project has moved to another party.
Everything is explained in the comment of 22 Mar. with examples i used from both links.

hopefully you can continue based on this information.

Best regards,
Bart

[2019-10-19 03:35] reinmallari opened #1380 "Decrpt password."
hi sir! i am using your library and it is very helpful!. but can i ask how to decrypt the password?

[2019-10-19 03:38] benedmunds commented on #1380
Hey,

You can't decrypt it, it's a one way hash.  You should never use an authentication method that allows decrypting of passwords as that's a huge security issue.

[2019-10-19 03:38] #1380 closed, assigned to nobody

[2019-10-19 03:42] reinmallari commented on #1380
thanks for your clarification.

On Sat, Oct 19, 2019 at 11:39 AM Ben Edmunds <notifications@github.com>
wrote:

[2019-11-02 08:21] rupinderDev opened #1381 "library function register() works but create_user() does not work"
I am using
CodeIgniter-Ion-Auth  - **branch 3**

**commit hash** - latest commit

**CodeIgniter version** - codeigniter 3.1.11

**PHP version** - PHP 7.2

**Description of bug**
library function create_user() does not work

An uncaught Exception was encountered
Type: Exception
Message: Undefined method Ion_auth::create_user() called

**Expected behavior**
Should work like register()

[2019-11-02 18:46] #1381 closed, assigned to nobody

[2019-11-02 18:46] benedmunds commented on #1381
Thanks for the PR!

[2019-11-08 11:13] kloj opened #1383 "sess_expiration not working in CI with ionAuth"
**This Github Issue section is meant to track bugs with the library itself**
Please post generic support issues to the CodeIgniter forums or StackOverflow.

a CI app having ionAuth implemented is not working with session expire function

application\config\config.php
$config['sess_driver'] = 'database';
$config['sess_cookie_name'] = 'ci_session';
$config['sess_expiration'] = 300;
$config['sess_sav

[2019-11-08 13:52] benedmunds commented on #1383
Are you using the remember me functionality?

[2019-11-11 00:32] nachoaguirre commented on #1336
hi! got the same problem...

my json:
"require": {
        "php": ">=7.2",
        "codeigniter4/framework": "^4@rc"
    },

"repositories": {
        "ionAuth": {
            "type": "vcs",
            "url": "git@github.com:benedmunds/CodeIgniter-Ion-Auth.git"
        }
    }
-----------------

my terminal output:
Your requirements could not be resolved to an installable set of packages.

  Prob

[2019-11-11 06:05] kloj commented on #1383
No, not using Remember Me Function

[2019-11-11 06:16] kloj commented on #1383
though Remember Me, explicit function of Login Page is not enabled,,
but ,, in application/config/ion_auth.php

$config['remember_users']             = TRUE;                // Allow users to be remembered and enable auto-login

just this parameter is set TRUE,, let me try it by FALSE.

[2019-11-11 08:00] kloj commented on #1383
even setting $config['remember_users'] = FALSE;
still the session not expired in 2 hours,  while expiration time is set to 300 in both in config.php and config/ion_auth.php

[2019-11-11 18:14] benedmunds commented on #1336
What minimum stability are you using?

[2019-11-11 18:15] benedmunds commented on #1383
Try a lower user_expire in the Ion Auth config

[2019-11-11 18:37] kloj commented on #1383
set to 150,   still not worked

if you plz give a look to one of controllers construct

class Invoices extends MY_Controller
{
    /**
     * Invoices constructor.
     */
    public function __construct ()
    {
        parent::__construct ();
        // Load Invoices Model
        $this->load->model ( 'invoices_model' );
        // Load Billers Model
        $this->load->model ( 'biller_model' )

[2019-11-11 19:04] nachoaguirre commented on #1336
@benedmunds im using dev.
im using the appstarter repo with codeigniter 4 (clean installation)...

this is my entire composer .json:

{
    "name": "codeigniter4/appstarter",
    "type": "project",
    "description": "CodeIgniter4 starter app",
    "homepage": "https://codeigniter.com",
    "license": "MIT",
    "require": {
        "php": ">=7.2",
        "codeigniter4/framework": "^4@rc"
    },

[2019-11-11 22:51] bvrignaud commented on #1336
Hell, I think we have to remove the '"codeigniter4/framework": "^4@rc"' line for now.
We will re-add it later when CI4 will be ready.

[2019-11-13 14:29] benedmunds commented on #1383
This controller seems fine.  I'm running out of ideas.  Maybe try a lower sess_time_to_update, this should be lower than the expiration time you want.

[2019-11-13 14:30] benedmunds commented on #1336
Yea fair point.  Removed it.

[2019-11-13 14:30] #1336 closed, assigned to nobody

[2019-11-21 00:23] ezxcess opened #1387 "Ion_auth controller error : Unable to load the requested file"
I have a very weird error where it only occurs on my server running Ubuntu but working fine on my local dev running on WAMPserver on Windows 10. FYI, I am running CodeIgniter 3 with WireDesignz HMVC extension.

In all my other module's controllers, which reside in its own folders, eg. modules/cases/controllers/, modules/providers/controllers/, etc... Let me show you my folder and file structure

E

[2019-11-21 13:25] benedmunds commented on #1387
I'm not sure since I don't use HMVC.  You may get more help on the CI forums, might be worth cross posting there.

[2019-11-27 08:22] niconeo33770 commented on #1344
Hi,

I have the same problem, I don't know where I can find the email.php config file. I have no error message but no email sending to activate account or forget password. I suppose the problem come from this file ?

No email.php config file here :
- https://github.com/bcit-ci/CodeIgniter/tree/develop/application/config
- https://github.com/benedmunds/CodeIgniter-Ion-Auth/tree/3/config

Could you

[2019-11-27 08:51] bvrignaud commented on #1344
Hello,

As the [documentation](https://codeigniter.com/user_guide/libraries/email.html#setting-email-preferences-in-a-config-file) explain, you have to create this file yourself.

[2019-11-27 14:13] #1344 closed, assigned to nobody

[2019-11-27 15:35] niconeo33770 commented on #1344
Thank you for your answer, I had indeed not read all the documentation on this part. My mistake. However I did not read this part because sending mail with CodeIgniter works without a configuration file because it uses my default php configuration it seems to me. Here is a test with CodeIgniter to prove it.

I also read this documentation (http://benedmunds.com/ion_auth/) but I can not find where

[2019-11-27 15:49] bvrignaud commented on #1344
You're right, if sending email are OK outside IonAuth, I think that you don't need to set config/email.php.

Can you just try this in config/ion_auth.php:
[code]
It's work for me in each of my project.

[2019-11-27 16:14] niconeo33770 commented on #1344
Thank you for your answer, I had set this parameter to TRUE, but the file was not updated on my server! Sorry, thanks for your help! it's great, it works now.

[2019-11-27 21:00] metabinaryio opened #1388 "How can i disable debug mode?"
Hi,

I want to disable debug mode, but it doesn't work. How do I do this for Ion auth? Since I am developing a public project, I will show an error page when customer open a link that is not valid. But there are hundreds of warnings. This is the smallest example! There's so much more.

Thanks for your help.

[2019-11-27 21:01] benedmunds commented on #1388
Ion auth doesn’t set debug mode.  That’ll be in either your CI setup or your PHP ini.

[2019-11-27 21:01] #1388 closed, assigned to nobody

[2019-11-28 11:31] arizona2014 opened #1389 "ION_AUTH loses login data"
**This Github Issue section is meant to track bugs with the library itself**
Please post generic support issues to the CodeIgniter forums or StackOverflow.

I have a 3.0.1 CI site which implements ION AUTH for authentification. When I developed the app in 2017, everything worked fine. Fast forward 2019, I try to ressuscitate the project, and when I try to login with my credentials, big surprise :

[2019-11-28 14:27] benedmunds commented on #1389
Post your CI config.

Also try upgrading to a newer version of CI 3.x.  There have been some session fixes.

[2019-11-28 19:47] arizona2014 commented on #1389
<?php
defined('BASEPATH') OR exit('No direct script access allowed');

/*
|--------------------------------------------------------------------------
| Base Site URL
|--------------------------------------------------------------------------
|
| URL to your CodeIgniter root. Typically this will be your base URL,
| WITH a trailing slash:
|
|	http://example.com/
|
| If this is not set then CodeIgnit

[2019-11-28 19:47] arizona2014 commented on #1389
`<?php
defined('BASEPATH') OR exit('No direct script access allowed');

/*
|--------------------------------------------------------------------------
| Base Site URL
|--------------------------------------------------------------------------
|
| URL to your CodeIgniter root. Typically this will be your base URL,
| WITH a trailing slash:
|
|	http://example.com/
|
| If this is not set then CodeIgni

[2019-11-28 19:52] arizona2014 commented on #1389
I also downloaded CI 3.1.11 and it seems that the SESSION works even after redirection. I havent copied all the site files, just tested 2 controllers and a redirect. So I assume ION_AUTH will work now as SESSION data stays after redirect.

But I would like to know why it doesnt work anymore on the last environment (3.0.1). I havent change anything, and 2 years ago worked well. I just want to under

[2019-11-28 23:30] benedmunds commented on #1389
I'd have to dig back through CI issues to find exactly what changed but it's likely due to some combination of PHP env settings and browser settings.  You could probably pinpoint it by reading through the CI 3 changelogs.

[2019-11-28 23:30] #1389 closed, assigned to nobody

[2019-12-04 20:11] MashinaMashina opened #1391 "Library really needs autologin after register user"
Library really needs autologin after register user

[2019-12-04 20:41] benedmunds commented on #1391
That’s not something to be done at the library level (since you could have a UI where admins are creating users) but you can easily do that at the userland level but calling login() after successful registeration.

[2019-12-04 20:41] #1391 closed, assigned to nobody

[2019-12-07 12:27] MashinaMashina opened #1393 "Double use esc function with form_input"
**Describe the bug**
Code:
[code]

1. Enter \<h1>Hello\</h1> to field and submit.
2. In input you see "\&lt\;h1\&gt\;Hello\&lt\;/h1\&gt\;" instead your value
3. If you again submit, you see "\&amp\;lt\;h1\&amp\;gt\;Hello\&amp\;lt\;/h1\&amp\;gt;"
4. After you can see "&amp;amp;amp;amp;lt;h1&amp;amp;amp;amp;gt;Hello&amp;amp;amp;amp;lt;/h1&amp;amp;amp;amp;gt;" and etc

Such behavior because CI4 use e

[2019-12-07 14:58] benedmunds commented on #1393
Good catch!  Can you submit a PR for this?

[2019-12-07 15:05] MashinaMashina commented on #1393
What is PR?

[2019-12-07 15:10] benedmunds commented on #1393
https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/about-pull-requests

[2019-12-07 19:59] MashinaMashina commented on #1393
I have only IonAuth with
1. Multi user auth (you can login in one account in miltiple devices).
2. Fixed ->numRows() (replace example "if ($user = $query->getRow())" ...) (https://forum.codeigniter.com/thread-71713-post-357749.html)
3. Added functions getUserdata() and setLoggedUser()
4. Replaced
$this->db->delete($this->tables['users'], ['id' => $id]);
to
$this->db->table($this->tables['users'])-

[2019-12-07 21:01] benedmunds commented on #1393
I’m not sure I follow. Is this more than just the controller change to set_value?

[2019-12-08 07:51] MashinaMashina commented on #1393
I made a big update for myself

[2019-12-08 14:20] benedmunds commented on #1393
You can make the PR in a separate repo or branch, then just apply this once fix, so your other changes won’t be in the PR.

[2019-12-23 12:43] gpdas1 opened #1395 "Security Error"
Hi Ben
While trying to change 'password' or any other fields of 'users' table, the following error comes.
"This form post did not pass our security checks"
Your guidance please.

![IonAuthSecurity](https://user-images.githubusercontent.com/4804013/71358232-57745380-25ae-11ea-94da-c159df1e42fe.JPG)

**This Github Issue section is meant to track bugs with the library itself**
Please post generic sup

[2019-12-23 13:46] benedmunds commented on #1395
That’s a CSRF error most likely.  Are you using the Ion Auth CSRF from the example controller or the CodeIgniter CSRF?

[2019-12-24 06:09] gpdas1 commented on #1395
I am using CodeIgniter CSRF.

[2019-12-24 09:46] Mimisss opened #1397 "Auth controller error handling in create and edit group"
**Which branch are you using?**
3

**What commit hash are you on?**
a0e13d05d0328ad8cff8e0fdc6c0f3542ce392e4

**What CodeIgniter version are you using?**
v3

**What PHP version are you using?**
7.1.29

**Describe the bug**
**Auth controller ->  create_group**:
When `$new_group_id` is `FALSE` the error message(s) should be set and the create group form should be (re)displayed. Currently, a blank pa

[2019-12-24 09:47] Mimisss commented on #1397
Proposed fixes https://github.com/benedmunds/CodeIgniter-Ion-Auth/pull/1396

[2019-12-24 19:25] #1397 closed, assigned to nobody

[2019-12-24 19:26] benedmunds commented on #1395
Are you using the example forms as is or have you made changes?  Have multiple forms on the same page or using javascript to submit?

[2019-12-25 10:49] agung-wete opened #1398 "Also track forgot password attempt"
**Which branch are you using?**
3

**What CodeIgniter version are you using?**
v3

**Describe the ~~bug~~ idea**
Its not bug, just idea.
How about also track another endpoint other than login, like forgot password, reset etc
You know, to prevent abuse

Thank you

[2019-12-25 12:43] benedmunds commented on #1398
Hey, thanks for the suggestion.  Is there an attack vector you are aware of from the other endpoints?

I'll leave this open for others to comment on as well.

[2019-12-25 12:56] agung-wete commented on #1398
CMIIW
Someone can abuse forgot password feature, because its send email to user, also it still do hash computation that might be expensive depends on ion auth config/ hardware

[2020-01-01 08:21] wingdu commented on #1270
Hey,

i have checked out ion auth trough the composer and he load all automaical but.

When i try to open now http://myurl/auth
then i get follow error message:

#0 /var/www/kuendigung/html/system/View/View.php(224): CodeIgniter\Exceptions\FrameworkException::forInvalidFile('IonAuth\\Views\\a...')
#1 /var/www/kuendigung/html/system/Common.php(176): CodeIgniter\View\View->render('IonAuth\\Views\\a.

[2020-01-01 15:27] benedmunds commented on #1270
@wingdu can you expand and post those first couple lines of the stack trace

[2020-01-01 19:38] wingdu commented on #1270
Hey,

take a look: https://www.kuendigung.site/auth/login

[2020-01-01 23:24] benedmunds commented on #1270
Can you make sure that the $viewsFolder path is correct?

Maybe var dump that whole view file path

[2020-01-02 00:17] wingdu commented on #1270
Hey Ben,

honestly i have only find some entrys in the config file for that. I have it directly checked out over the composer so all files are located under vendor/

[2020-01-04 14:40] benedmunds commented on #1270
Did you follow the instructions here https://github.com/benedmunds/CodeIgniter-Ion-Auth/blob/4/INSTALLING.md ?

Specifically, make sure you have setup the autload path in your config correctly.

[2020-01-06 19:46] wingdu commented on #1270
its doest change nothing if you add this parameter or not.

'IonAuth' 	  => ROOTPATH . 'vendor/benedmunds/codeigniter-ion-auth',

i have add this now that is my path where i have checked out over the composer

[2020-01-06 19:47] wingdu commented on #1270
thanks it working now !

[2020-01-10 16:49] Andrewsuares opened #1399 "How to NOT Expire Session"
Hello,

Is it possible to disable the session timeout? I want to be logged in permanently on multiple devices.  For some reason I keep getting logged out on Firefox on Android. I can login fine. I've set the remember option to enabled. And I've made the changes below.

$config['recheck_timer']              = 0;
$config['user_expire']                = 0;

		/*$recheck = $this->ion_auth_model->reche

[2020-01-10 22:45] benedmunds commented on #1399
If you set $recheck to false on that first line and leave the IF block in place it should always log you back in.  I think...

[2020-01-24 15:48] benedmunds opened #1400 "[Collaboration Wanted] Device Authorization extension for Ion Auth"
Sharing this here for anyone that's interested in collaborating.  @matheuscastroweb is working on extending Ion Auth for Device Authorization here:
https://github.com/matheuscastroweb/device-authorization

Go help out!

[2020-01-24 15:49] benedmunds commented on #1399
Any update on this?

[2020-01-24 15:51] benedmunds commented on #1398
We only send the email once per reset so I don't think there's much risk here. Unless someone were to brute force emails.  I'm definitely not against adding this though if you want to send a PR.

Closing this for now since it's not an issue.  But I definitely encourage you to submit a PR for review.  Thanks!

[2020-01-24 15:51] #1398 closed, assigned to nobody

[2020-01-24 15:52] benedmunds commented on #1395
Closing due to time elapsed since the last response.  Please submit a new ticket if this is still an issue.

[2020-01-24 15:52] #1395 closed, assigned to nobody

[2020-01-24 15:52] benedmunds commented on #1393
Closing. Definitely encourage that PR submission when you have time.  Thanks!

[2020-01-24 15:52] #1393 closed, assigned to nobody

[2020-01-24 15:59] benedmunds commented on #1387
Closing due to age and the fact that this isn't an Ion Auth specific issue.

[2020-01-24 15:59] #1387 closed, assigned to nobody

[2020-01-24 16:01] benedmunds commented on #1383
Closing due to time elapsed since the last response.  Please submit a new ticket if this is still an issue.

[2020-01-24 16:01] #1383 closed, assigned to nobody

[2020-01-24 16:02] benedmunds commented on #1378
Closing due to time elapsed since the last response.  You may get better support on StackOverflow since this isn't an issue with Ion Auth itself.

[2020-01-24 16:02] #1378 closed, assigned to nobody

[2020-01-24 16:02] benedmunds commented on #1374
Closing due to time elapsed since the last response.  Please submit a new ticket if this is still an issue.

[2020-01-24 16:02] #1374 closed, assigned to nobody

[2020-01-24 16:03] benedmunds commented on #1371
Closing due to time elapsed since the last response.  Please submit a new ticket if this is still an issue.

[2020-01-24 16:03] #1371 closed, assigned to nobody

[2020-01-24 16:03] benedmunds commented on #1373
Closing due to time elapsed since the last response.  Please submit a new ticket if this is still an issue.

[2020-01-24 16:03] #1373 closed, assigned to nobody

[2020-01-24 16:04] benedmunds commented on #1362
Closing this since I don't believe it's an issue.  Feel free to open a new ticket if you'd like to kickstart a new discussion on this.

[2020-01-24 16:04] #1362 closed, assigned to nobody

[2020-01-24 16:04] benedmunds commented on #1345
Closing due to time elapsed since the last response.  Please submit a new ticket if this is still an issue.

[2020-01-24 16:04] #1345 closed, assigned to nobody

[2020-01-24 16:04] benedmunds commented on #1341
Closing due to time elapsed since the last response.  Please submit a new ticket if this is still an issue.

[2020-01-24 16:04] #1341 closed, assigned to nobody

[2020-01-24 16:05] benedmunds commented on #1340
Closing due to time elapsed since the last response.  Please submit a new ticket if this is still an issue.

[2020-01-24 16:05] #1340 closed, assigned to nobody

[2020-01-24 16:05] benedmunds commented on #1326
Closing due to time elapsed since the last response.  Please submit a new ticket if this is still an issue.

[2020-01-24 16:05] #1326 closed, assigned to nobody

[2020-01-24 16:21] Andrewsuares commented on #1399
Hello,

Doesn't seem to have logged out yet.

[2020-01-24 16:28] benedmunds commented on #1399
Awesome!  I'll go ahead and close the ticket.  Feel free to open a new one if an issue pops up.

[2020-01-24 16:28] #1399 closed, assigned to nobody

[2020-01-27 10:30] shahabjamali45 commented on #892
I getting the same issue i have tried to fix it but i am unable please look into this please

An uncaught Exception was encountered
Type: RuntimeException

Message: Unable to locate the model you have specified: Ion_auth_model

Filename: C:\laragon\www\ciadmin\system\core\Loader.php

Line Number: 348

Backtrace:

File: C:\laragon\www\ciadmin\application\third_party\MX\Loader.php
Line: 213
Function

[2020-01-27 19:18] benedmunds commented on #892
@shahab-ansari if you’re having issues with HMVC try asking on the CI forums or StackOverflow.  Also maybe try searching related issues here https://github.com/benedmunds/CodeIgniter-Ion-Auth/issues?q=is%3Aissue+hmvc+is%3Aclosed

[2020-02-07 11:53] sujeesh2019 commented on #892
This issue is because of naming convention of model class files.
If suppose my model name is something like 'MyModelForUser.php' with class name like
class MyModelForUser extends CI_Model {

}
Issue will happen.
So based on latest code-igniter versions, its compulsory to follow the naming conventions of files and class names. So following is correct.

File name should be changed to : 'My_model_for

[2020-02-08 20:54] barkdoll opened #1401 "[CI 4]: argon2 password hash changing on every login attempt"
**Running CodeIgniter 4 with IonAuth 4.**

I apologize in advance. Crypto is a new world to me, and I am no auth guy.

Since `argon2` was recommended as a more modern and secure solution, I would like to use it instead of `bcrypt`.

## Current State
### Configuration
I configured IonAuth to use argon2
[code]
### Migration
I ran the migration and the seed to set up default data in the tables.

###